schemas/mss-additions.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:tei="http://www.tei-c.org/ns/1.0"
         xmlns:teix="http://www.tei-c.org/ns/Examples"
         xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://www.tei-c.org/ns/1.0"><!--
Schema generated from ODD source 2022-03-24T16:29:43Z. .
TEI Edition: Version 4.3.0. Last updated on
        31st August 2021, revision b4f72b1ff
TEI Edition Location: https://www.tei-c.org/Vault/P5/Version 4.3.0/
  
--><!--[http://creativecommons.org/licenses/by-sa/4.0/] This file is licensed under the Creative Commons Attribution-ShareAlike 4.0. -->
   <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron"
           prefix="tei"
           uri="http://www.tei-c.org/ns/1.0"/>
   <define name="tei_att.declarable.attributes">
      <ref name="tei_att.declarable.attribute.default"/>
   </define>
   <define name="tei_att.declarable.attribute.default">
      <optional>
         <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    name="default"
                    a:defaultValue="false">
            <a:documentation>indicates whether or not this element is selected by default when its parent is selected.</a:documentation>
            <choice>
               <value>true</value>
               <a:documentation>This element is selected if its parent is selected</a:documentation>
               <value>false</value>
               <a:documentation>This element can only be selected explicitly, unless it is the only one of its kind, in which case it is selected if its parent is selected.</a:documentation>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.docStatus.attributes">
      <ref name="tei_att.docStatus.attribute.status"/>
   </define>
   <define name="tei_att.docStatus.attribute.status">
      <optional>
         <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    name="status"
                    a:defaultValue="draft">
            <a:documentation>describes the status of a document either currently or, when associated with a dated element, at the time indicated.
Sample values include: 1] approved; 2] candidate; 3] cleared; 4] deprecated; 5] draft; 6] embargoed; 7] expired; 8] frozen; 9] galley; 10] proposed; 11] published; 12] recommendation; 13] submitted; 14] unfinished; 15] withdrawn</a:documentation>
            <data type="token">
               <param name="pattern">[^\p{C}\p{Z}]+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.responsibility.attributes">
      <ref name="tei_att.global.responsibility.attribute.cert"/>
      <ref name="tei_att.global.responsibility.attribute.resp"/>
   </define>
   <define name="tei_att.global.responsibility.attribute.cert">
      <optional>
         <attribute name="cert">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(certainty) signifies the degree of certainty associated with the intervention or interpretation.</a:documentation>
            <choice>
               <data type="double"/>
               <choice>
                  <value>high</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>medium</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>low</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>unknown</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               </choice>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.responsibility.attribute.resp">
      <optional>
         <attribute name="resp">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(responsible party) indicates the agency responsible for the intervention or interpretation, for example an editor or transcriber.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.rendition.attributes">
      <ref name="tei_att.global.rendition.attribute.rend"/>
      <ref name="tei_att.global.rendition.attribute.style"/>
      <ref name="tei_att.global.rendition.attribute.rendition"/>
   </define>
   <define name="tei_att.global.rendition.attribute.rend">
      <optional>
         <attribute name="rend">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(rendition) indicates how the element in question was rendered or presented in the source text.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="token">
                     <param name="pattern">[^\p{C}\p{Z}]+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.rendition.attribute.style">
      <optional>
         <attribute name="style">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains an expression in some formal style definition language which defines the rendering or presentation used for this element in the source text</a:documentation>
            <data type="string"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.rendition.attribute.rendition">
      <optional>
         <attribute name="rendition">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points to a description of the rendering or presentation used for this element in the source text.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.source.attributes">
      <ref name="tei_att.global.source.attribute.source"/>
   </define>
   <define name="tei_att.global.source.attribute.source">
      <optional>
         <attribute name="source">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the source from which some aspect of this element is drawn.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.attributes">
      <ref name="tei_att.global.rendition.attributes"/>
      <ref name="tei_att.global.responsibility.attributes"/>
      <ref name="tei_att.global.source.attributes"/>
      <ref name="tei_att.global.attribute.xmlid"/>
      <ref name="tei_att.global.attribute.n"/>
      <ref name="tei_att.global.attribute.xmllang"/>
      <ref name="tei_att.global.attribute.xmlbase"/>
      <ref name="tei_att.global.attribute.xmlspace"/>
   </define>
   <define name="tei_att.global.attribute.xmlid">
      <optional>
         <attribute name="xml:id">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(identifier) provides a unique identifier for the element bearing the attribute.</a:documentation>
            <data type="ID"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.attribute.n">
      <optional>
         <attribute name="n">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(number) gives a number (or other label) for an element, which is not necessarily unique within the document.</a:documentation>
            <data type="string"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.attribute.xmllang">
      <optional>
         <attribute name="xml:lang">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(language) indicates the language of the element content using a tag generated according to <a xmlns="http://www.w3.org/1999/xhtml"
                  href="http://www.rfc-editor.org/rfc/bcp/bcp47.txt">BCP 47</a>.</a:documentation>
            <choice>
               <data type="language"/>
               <choice>
                  <value/>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               </choice>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.attribute.xmlbase">
      <optional>
         <attribute name="xml:base">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides a base URI reference with which applications can resolve relative URI references into absolute URI references.</a:documentation>
            <data type="anyURI"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.attribute.xmlspace">
      <optional>
         <attribute name="xml:space">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">signals an intention about how white space should be managed by applications.</a:documentation>
            <choice>
               <value>default</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">signals that the application's default white-space processing modes are acceptable</a:documentation>
               <value>preserve</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the intent that applications preserve all white space</a:documentation>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.typed.attributes">
      <ref name="tei_att.typed.attribute.type"/>
      <ref name="tei_att.typed.attribute.subtype"/>
   </define>
   <define name="tei_att.typed.attribute.type">
      <optional>
         <attribute name="type">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">characterizes the element in some sense, using any convenient classification scheme or typology.</a:documentation>
            <data type="token">
               <param name="pattern">[^\p{C}\p{Z}]+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.typed.attribute.subtype">
      <optional>
         <attribute name="subtype">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(subtype) provides a sub-categorization of the element, if needed</a:documentation>
            <data type="token">
               <param name="pattern">[^\p{C}\p{Z}]+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="mss-additions-att.typed-subtypeTyped-constraint-rule-1">
      <sch:rule xmlns:xi="http://www.w3.org/2001/XInclude"
                xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                context="tei:*[@subtype]">
        <sch:assert test="@type">The <sch:name/> element should not be categorized in detail with @subtype unless also categorized in general with @type</sch:assert>
      </sch:rule>
   </pattern>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="mss-additions-att.pointing-targetLang-targetLang-constraint-rule-2">
      <sch:rule xmlns:xi="http://www.w3.org/2001/XInclude"
                xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                context="tei:*[not(self::tei:schemaSpec)][@targetLang]">
            <sch:assert test="@target">@targetLang should only be used on <sch:name/> if @target is specified.</sch:assert>
          </sch:rule>
   </pattern>
   <define name="tei_att.pointing.attribute.target">
      <optional>
         <attribute name="target">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the destination of the reference by supplying one or more URI References</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.sortable.attributes">
      <ref name="tei_att.sortable.attribute.sortKey"/>
   </define>
   <define name="tei_att.sortable.attribute.sortKey">
      <optional>
         <attribute name="sortKey">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies the sort key for this element in an index, list or group which contains it.</a:documentation>
            <data type="token">
               <param name="pattern">[^\p{C}\p{Z}]+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="tei_model.nameLike.agent">
      <notAllowed/>
   </define>
   <define name="tei_model.nameLike.agent_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.nameLike.agent_sequence">
      <empty/>
   </define>
   <define name="tei_model.nameLike.agent_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.nameLike.agent_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.nameLike.agent_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.segLike">
      <notAllowed/>
   </define>
   <define name="tei_model.hiLike">
      <choice>
         <ref name="tei_q"/>
      </choice>
   </define>
   <define name="tei_model.hiLike_alternation">
      <choice>
         <ref name="tei_q"/>
      </choice>
   </define>
   <define name="tei_model.hiLike_sequence">
      <ref name="tei_q"/>
   </define>
   <define name="tei_model.hiLike_sequenceOptional">
      <optional>
         <ref name="tei_q"/>
      </optional>
   </define>
   <define name="tei_model.hiLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_q"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.hiLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_q"/>
      </oneOrMore>
   </define>
   <define name="tei_model.emphLike">
      <notAllowed/>
   </define>
   <define name="tei_model.emphLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.emphLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.emphLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.emphLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.emphLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.highlighted">
      <choice>
         <ref name="tei_model.hiLike"/>
         <ref name="tei_model.emphLike"/>
      </choice>
   </define>
   <define name="tei_model.dateLike">
      <notAllowed/>
   </define>
   <define name="tei_model.dateLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.dateLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.dateLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.dateLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.dateLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.measureLike">
      <notAllowed/>
   </define>
   <define name="tei_model.measureLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.measureLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.measureLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.measureLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.measureLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.offsetLike">
      <notAllowed/>
   </define>
   <define name="tei_model.offsetLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.offsetLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.offsetLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.offsetLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.offsetLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.editorial">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.editorial_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.editorial_sequence">
      <empty/>
   </define>
   <define name="tei_model.pPart.editorial_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.pPart.editorial_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.pPart.editorial_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.transcriptional">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.transcriptional_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequence">
      <empty/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.edit">
      <choice>
         <ref name="tei_model.pPart.editorial"/>
         <ref name="tei_model.pPart.transcriptional"/>
      </choice>
   </define>
   <define name="tei_model.ptrLike">
      <notAllowed/>
   </define>
   <define name="tei_model.global.meta">
      <notAllowed/>
   </define>
   <define name="tei_model.milestoneLike">
      <notAllowed/>
   </define>
   <define name="tei_model.gLike">
      <notAllowed/>
   </define>
   <define name="tei_model.noteLike">
      <notAllowed/>
   </define>
   <define name="tei_model.global.edit">
      <notAllowed/>
   </define>
   <define name="tei_model.placeNamePart">
      <notAllowed/>
   </define>
   <define name="tei_model.placeNamePart_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.placeNamePart_sequence">
      <empty/>
   </define>
   <define name="tei_model.placeNamePart_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.placeNamePart_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.placeNamePart_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.placeStateLike">
      <choice>
         <ref name="tei_model.placeNamePart"/>
      </choice>
   </define>
   <define name="tei_model.placeStateLike_alternation">
      <choice>
         <ref name="tei_model.placeNamePart_alternation"/>
      </choice>
   </define>
   <define name="tei_model.placeStateLike_sequence">
      <ref name="tei_model.placeNamePart_sequence"/>
   </define>
   <define name="tei_model.placeStateLike_sequenceOptional">
      <optional>
         <ref name="tei_model.placeNamePart_sequenceOptional"/>
      </optional>
   </define>
   <define name="tei_model.placeStateLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_model.placeNamePart_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.placeStateLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_model.placeNamePart_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="tei_model.quoteLike">
      <notAllowed/>
   </define>
   <define name="tei_model.quoteLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.quoteLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.quoteLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.quoteLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.quoteLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.respLike">
      <notAllowed/>
   </define>
   <define name="tei_model.imprintPart">
      <notAllowed/>
   </define>
   <define name="tei_model.addressLike">
      <notAllowed/>
   </define>
   <define name="tei_model.addressLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.addressLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.addressLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.addressLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.addressLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.nameLike">
      <choice>
         <ref name="tei_model.nameLike.agent"/>
         <ref name="tei_model.offsetLike"/>
         <ref name="tei_model.placeStateLike"/>
      </choice>
   </define>
   <define name="tei_model.nameLike_alternation">
      <choice>
         <ref name="tei_model.nameLike.agent_alternation"/>
         <ref name="tei_model.offsetLike_alternation"/>
         <ref name="tei_model.placeStateLike_alternation"/>
      </choice>
   </define>
   <define name="tei_model.nameLike_sequence">
      <ref name="tei_model.nameLike.agent_sequence"/>
      <ref name="tei_model.offsetLike_sequence"/>
      <ref name="tei_model.placeStateLike_sequence"/>
   </define>
   <define name="tei_model.nameLike_sequenceOptional">
      <optional>
         <ref name="tei_model.nameLike.agent_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_model.offsetLike_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_model.placeStateLike_sequenceOptional"/>
      </optional>
   </define>
   <define name="tei_model.nameLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_model.nameLike.agent_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_model.offsetLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_model.placeStateLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.nameLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_model.nameLike.agent_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_model.offsetLike_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_model.placeStateLike_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="tei_model.global">
      <choice>
         <ref name="tei_model.global.meta"/>
         <ref name="tei_model.milestoneLike"/>
         <ref name="tei_model.noteLike"/>
         <ref name="tei_model.global.edit"/>
      </choice>
   </define>
   <define name="tei_model.biblPart">
      <choice>
         <ref name="tei_model.respLike"/>
         <ref name="tei_model.imprintPart"/>
         <ref name="tei_series"/>
         <ref name="tei_bibl"/>
      </choice>
   </define>
   <define name="tei_model.pPart.data">
      <choice>
         <ref name="tei_model.dateLike"/>
         <ref name="tei_model.measureLike"/>
         <ref name="tei_model.addressLike"/>
         <ref name="tei_model.nameLike"/>
      </choice>
   </define>
   <define name="tei_p">
      <element name="p">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(paragraph) marks paragraphs in prose. [3.1. Paragraphs 7.2.5. Speech Contents]</a:documentation>
         <text/>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="mss-additions-p-abstractModel-structure-p-constraint-report-1">
            <rule context="tei:p">
               <report xmlns:rng="http://relaxng.org/ns/structure/1.0"
                       xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                       test="not(ancestor::tei:floatingText) and (ancestor::tei:p or ancestor::tei:ab)          and not(parent::tei:exemplum                |parent::tei:item                |parent::tei:note                |parent::tei:q                |parent::tei:quote                |parent::tei:remarks                |parent::tei:said                |parent::tei:sp                |parent::tei:stage                |parent::tei:cell                |parent::tei:figure                )">
        Abstract model violation: Paragraphs may not occur inside other paragraphs or ab elements.
      </report>
            </rule>
         </pattern>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="mss-additions-p-abstractModel-structure-l-constraint-report-2">
            <rule context="tei:p">
               <report xmlns:rng="http://relaxng.org/ns/structure/1.0"
                       xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                       test="(ancestor::tei:l or ancestor::tei:lg) and not(parent::tei:figure or parent::tei:note or ancestor::tei:floatingText)">
        Abstract model violation: Lines may not contain higher-level structural elements such as div, p, or ab, unless p is a child of figure or note, or is a descendant of floatingText.
      </report>
            </rule>
         </pattern>
      </element>
   </define>
   <define name="tei_q">
      <element name="q">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(quoted) contains material which is distinguished from the surrounding text using quotation marks or a similar method, for any one of a variety of reasons including, but not limited to: direct speech or thought, technical terms or jargon, authorial distance, quotations from elsewhere, and passages that are mentioned but not used. [3.3.3. Quotation]</a:documentation>
         <text/>
         <ref name="tei_att.global.attribute.xmllang"/>
         <empty/>
      </element>
   </define>
   <define name="tei_desc">
      <element name="desc">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(description) contains a short description of the purpose, function, or use of its parent element, or when the parent is a documentation element, describes or defines the object being documented.  [22.4.1. Description of Components]</a:documentation>
         <ref name="tei_q"/>
         <text/>
         <ref name="tei_q"/>
         <text/>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="mss-additions-desc-deprecationInfo-only-in-deprecated-constraint-rule-3">
            <sch:rule xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:rng="http://relaxng.org/ns/structure/1.0"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      context="tei:desc[ @type eq 'deprecationInfo']">
               <sch:assert test="../@validUntil">Information about a
        deprecation should only be present in a specification element
        that is being deprecated: that is, only an element that has a
        @validUntil attribute should have a child &lt;desc
        type="deprecationInfo"&gt;.</sch:assert>
            </sch:rule>
         </pattern>
         <optional>
            <attribute name="type">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">characterizes the element in some sense, using any convenient classification scheme or typology.</a:documentation>
               <choice>
                  <value>deprecationInfo</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(deprecation
          information) This element describes why or how its parent element is being deprecated, typically including recommendations for alternate encoding.</a:documentation>
                  <value>ownershipNote</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Indicating that the book belongs to 1) an institution; 2) an individual.</a:documentation>
                  <value>purchaseNote</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">note stating that the book has been purchased for money by an individual or an institution</a:documentation>
                  <value>acquisitionNote</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Points only to the fact of the acquisition of the book or transaction with the book.</a:documentation>
                  <value>receiptNote</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">note written down as a receipt of a transaction of goods.</a:documentation>
                  <value>genealogy</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">genealogy of local lineages or ruling families or individual rulers; it can be a genealogy of the owner/donor of the book, independent or included into another note.</a:documentation>
                  <value>scribalSignature</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The name of the scribe written down.</a:documentation>
                  <value>supplication</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A short prayer for (the souls) of individuals.</a:documentation>
                  <value>subscription</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">note added at the end of the main text concerning its completion.</a:documentation>
                  <value>doxology</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">hymn or praise to God or other entities.</a:documentation>
                  <value>invocation</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">invocation against those who stole or erased the book or against other individuals.</a:documentation>
                  <value>inventory</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Lists of books or other objects.</a:documentation>
                  <value>scribalNoteCommencing</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">scribe’s note on commencing the work.</a:documentation>
                  <value>scribalNoteOrdering</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">scribe’s note on ordering of the copying.</a:documentation>
                  <value>scribalNoteCommissioning</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">scribe’s note on commissioning of the writing.</a:documentation>
                  <value>scribalNoteCompleting</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">scribe’s note on completing the writing.</a:documentation>
                  <value>scribalNoteBequeathing</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">scribe’s note on bequeathing.</a:documentation>
                  <value>recordTransaction</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">text documenting an act of selling or buying something, in many cases a house and land, sometimes a book.</a:documentation>
                  <value>recordGuarantors</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">documentary record concerning the guarantors of a transaction or a loan.</a:documentation>
                  <value>record</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">generic note of a documentary, official character.</a:documentation>
                  <value>scribalSupplication</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">scribe’s entreat to God.</a:documentation>
                  <value>unclear</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Content is too vague to assign another category or resists any interpretation.</a:documentation>
                  <value>poem</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Poem.</a:documentation>
                  <value>stampExlibris</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">stamp affixed by the owning institution, e.g., a library. </a:documentation>
                  <value>letter</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Written message looking like a sample of the epistolary genre copied into a manuscript.</a:documentation>
                  <value>comment</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">note added at a later stage in order to comment word or passages of the main text.</a:documentation>
                  <value>correction</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Addition of omitted passages, words or letters and the like.</a:documentation>
                  <value>gloss</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Refers to a note aimed to solve a purely language difficulty.</a:documentation>
               </choice>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="tei_list">
      <element name="list">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(list) contains any sequence of items organized as a list. [3.8. Lists]</a:documentation>
         <ref name="tei_item"/>
         <ref name="tei_item"/>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="mss-additions-list-gloss-list-must-have-labels-constraint-rule-4">
            <sch:rule xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:rng="http://relaxng.org/ns/structure/1.0"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      context="tei:list[@type='gloss']">
	              <sch:assert test="tei:label">The content of a "gloss" list should include a sequence of one or more pairs of a label element followed by an item element</sch:assert>
            </sch:rule>
         </pattern>
         <optional>
            <attribute name="type">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(type) describes the nature of the items in the list.
Suggested values include: 1] gloss (gloss); 2] index (index); 3] instructions (instructions); 4] litany (litany); 5] syllogism (syllogism)</a:documentation>
               <choice>
                  <value>gloss</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(gloss) each list item glosses some term or concept, which is given by a <code xmlns="http://www.w3.org/1999/xhtml">&lt;label&gt;</code> element preceding the list item.</a:documentation>
                  <value>index</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(index) each list item is an entry in an index such as the alphabetical topical index at the back of a print volume.</a:documentation>
                  <value>instructions</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(instructions) each list item is a step in a sequence of instructions, as in a recipe.</a:documentation>
                  <value>litany</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(litany) each list item is one of a sequence of petitions, supplications or invocations, typically in a religious ritual.</a:documentation>
                  <value>syllogism</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(syllogism) each list item is part of an argument consisting of two or more propositions and a final conclusion derived from them.</a:documentation>
                  <data type="token">
                     <param name="pattern">[^\p{C}\p{Z}]+</param>
                  </data>
               </choice>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="tei_item">
      <element name="item">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(item) contains one component of a list. [3.8. Lists 2.6. The Revision Description]</a:documentation>
         <ref name="tei_p"/>
         <ref name="tei_locus"/>
         <ref name="tei_desc"/>
         <ref name="tei_p"/>
         <ref name="tei_locus"/>
         <ref name="tei_desc"/>
      </element>
   </define>
   <define name="tei_series">
      <element name="series">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(series information) contains information about the series in which a book or other bibliographic item has appeared. [3.12.2.1. Analytic, Monographic, and Series Levels]</a:documentation>
         <zeroOrMore>
            <choice>
               <text/>
               <ref name="tei_model.gLike"/>
        
               <ref name="tei_model.ptrLike"/>
        
        
        
        
        
               <ref name="tei_model.global"/>
        
            </choice>
         </zeroOrMore>
         <ref name="tei_att.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_bibl">
      <element name="bibl">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(bibliographic citation) contains a loosely-structured bibliographic citation of which the sub-components may or may not be explicitly tagged. [3.12.1. Methods of Encoding Bibliographic References and Lists of References 2.2.7. The Source Description 15.3.2. Declarable Elements]</a:documentation>
         <zeroOrMore>
            <choice>
               <text/>
               <ref name="tei_model.gLike"/>
               <ref name="tei_model.highlighted"/>
               <ref name="tei_model.pPart.data"/>
               <ref name="tei_model.pPart.edit"/>
               <ref name="tei_model.segLike"/>
               <ref name="tei_model.ptrLike"/>
               <ref name="tei_model.biblPart"/>
               <ref name="tei_model.global"/>
            </choice>
         </zeroOrMore>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.declarable.attributes"/>
         <ref name="tei_att.typed.attributes"/>
         <ref name="tei_att.sortable.attributes"/>
         <ref name="tei_att.docStatus.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_locus">
      <element name="locus">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(locus) defines a location within a manuscript, manuscript part, or other object typically as a (possibly discontinuous) sequence of folio references. [10.3.5. References to Locations within a Manuscript]</a:documentation>
         <text/>
         <text/>
         <ref name="tei_att.pointing.attribute.target"/>
         <optional>
            <attribute name="from">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(from) specifies the starting point of the location in a normalized form, typically a page number.</a:documentation>
               <data type="token">
                  <param name="pattern">[^\p{C}\p{Z}]+</param>
               </data>
            </attribute>
         </optional>
         <optional>
            <attribute name="to">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(to) specifies the end-point of the location in a normalized form, typically as a page number.</a:documentation>
               <data type="token">
                  <param name="pattern">[^\p{C}\p{Z}]+</param>
               </data>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <start>
      <choice/>
   </start>
</grammar>
