schemas/mss-forms.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:tei="http://www.tei-c.org/ns/1.0"
         xmlns:teix="http://www.tei-c.org/ns/Examples"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://www.tei-c.org/ns/1.0"><!--
Schema generated from ODD source 2021-07-15T12:16:33Z. .
TEI Edition: 
TEI Edition Location: https://www.tei-c.org/Vault/P5//
  
--><!--[http://creativecommons.org/licenses/by-sa/4.0/] This file is licensed under the Creative Commons Attribution-ShareAlike 4.0. -->
   <define name="tei_att.written.attributes">
      <ref name="tei_att.written.attribute.hand"/>
   </define>
   <define name="tei_att.written.attribute.hand">
      <optional>
         <attribute name="hand">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points to a <code xmlns="http://www.w3.org/1999/xhtml">&lt;handNote&gt;</code> element describing the hand considered responsible for the content of the element concerned.</a:documentation>
            <data type="anyURI"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.declarable.attributes">
      <ref name="tei_att.declarable.attribute.default"/>
   </define>
   <define name="tei_att.declarable.attribute.default">
      <optional>
         <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    name="default"
                    a:defaultValue="false">
            <a:documentation>indicates whether or not this element is selected by default when its parent is selected.</a:documentation>
            <choice>
               <value>true</value>
               <a:documentation>This element is selected if its parent is selected</a:documentation>
               <value>false</value>
               <a:documentation>This element can only be selected explicitly, unless it is the only one of its kind, in which case it is selected if its parent is selected.</a:documentation>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.declaring.attributes">
      <ref name="tei_att.declaring.attribute.decls"/>
   </define>
   <define name="tei_att.declaring.attribute.decls">
      <optional>
         <attribute name="decls">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies one or more declarable elements within the header, which are understood to apply to the element bearing this attribute and its content.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.fragmentable.attributes">
      <ref name="tei_att.fragmentable.attribute.part"/>
   </define>
   <define name="tei_att.fragmentable.attribute.part">
      <optional>
         <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    name="part"
                    a:defaultValue="N">
            <a:documentation>specifies whether or not its parent element is fragmented in some way, typically by some other overlapping structure: for example a speech which is divided between two or more verse stanzas, a paragraph which is split across a page division, a verse line which is divided between two speakers.</a:documentation>
            <choice>
               <value>Y</value>
               <a:documentation>(yes) the element is fragmented in some (unspecified) respect</a:documentation>
               <value>N</value>
               <a:documentation>(no) the element is not fragmented, or no claim is made as to its completeness</a:documentation>
               <value>I</value>
               <a:documentation>(initial) this is the initial part of a fragmented element</a:documentation>
               <value>M</value>
               <a:documentation>(medial) this is a medial part of a fragmented element</a:documentation>
               <value>F</value>
               <a:documentation>(final) this is the final part of a fragmented element</a:documentation>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.divLike.attributes">
      <ref name="tei_att.fragmentable.attributes"/>
      <ref name="tei_att.divLike.attribute.org"/>
      <ref name="tei_att.divLike.attribute.sample"/>
   </define>
   <define name="tei_att.divLike.attribute.org">
      <optional>
         <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    name="org"
                    a:defaultValue="uniform">
            <a:documentation>(organization) specifies how the content of the division is organized.</a:documentation>
            <choice>
               <value>composite</value>
               <a:documentation>no claim is made about the sequence in which the immediate contents of this division are to be processed, or their inter-relationships.</a:documentation>
               <value>uniform</value>
               <a:documentation>the immediate contents of this element are regarded as forming a logical unit, to be processed in sequence.</a:documentation>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.divLike.attribute.sample">
      <optional>
         <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    name="sample"
                    a:defaultValue="complete">
            <a:documentation>indicates whether this division is a sample of the original source and if so, from which part.</a:documentation>
            <choice>
               <value>initial</value>
               <a:documentation>division lacks material present at end in source.</a:documentation>
               <value>medial</value>
               <a:documentation>division lacks material at start and end.</a:documentation>
               <value>final</value>
               <a:documentation>division lacks material at start.</a:documentation>
               <value>unknown</value>
               <a:documentation>position of sampled material within original unknown.</a:documentation>
               <value>complete</value>
               <a:documentation>division is not a sample.</a:documentation>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.responsibility.attributes">
      <ref name="tei_att.global.responsibility.attribute.cert"/>
      <ref name="tei_att.global.responsibility.attribute.resp"/>
   </define>
   <define name="tei_att.global.responsibility.attribute.cert">
      <optional>
         <attribute name="cert">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(certainty) signifies the degree of certainty associated with the intervention or interpretation.</a:documentation>
            <choice>
               <data type="double"/>
               <choice>
                  <value>high</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>medium</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>low</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>unknown</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               </choice>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.responsibility.attribute.resp">
      <optional>
         <attribute name="resp">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(responsible party) indicates the agency responsible for the intervention or interpretation, for example an editor or transcriber.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.rendition.attributes">
      <ref name="tei_att.global.rendition.attribute.rend"/>
      <ref name="tei_att.global.rendition.attribute.style"/>
      <ref name="tei_att.global.rendition.attribute.rendition"/>
   </define>
   <define name="tei_att.global.rendition.attribute.rend">
      <optional>
         <attribute name="rend">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(rendition) indicates how the element in question was rendered or presented in the source text.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="token">
                     <param name="pattern">[^\p{C}\p{Z}]+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.rendition.attribute.style">
      <optional>
         <attribute name="style">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains an expression in some formal style definition language which defines the rendering or presentation used for this element in the source text</a:documentation>
            <data type="string"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.rendition.attribute.rendition">
      <optional>
         <attribute name="rendition">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points to a description of the rendering or presentation used for this element in the source text.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.source.attributes">
      <ref name="tei_att.global.source.attribute.source"/>
   </define>
   <define name="tei_att.global.source.attribute.source">
      <optional>
         <attribute name="source">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the source from which some aspect of this element is drawn.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.attributes">
      <ref name="tei_att.global.rendition.attributes"/>
      <ref name="tei_att.global.responsibility.attributes"/>
      <ref name="tei_att.global.source.attributes"/>
      <ref name="tei_att.global.attribute.xmlid"/>
      <ref name="tei_att.global.attribute.n"/>
      <ref name="tei_att.global.attribute.xmllang"/>
      <ref name="tei_att.global.attribute.xmlbase"/>
      <ref name="tei_att.global.attribute.xmlspace"/>
   </define>
   <define name="tei_att.global.attribute.xmlid">
      <optional>
         <attribute name="xml:id">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(identifier) provides a unique identifier for the element bearing the attribute.</a:documentation>
            <data type="ID"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.attribute.n">
      <optional>
         <attribute name="n">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(number) gives a number (or other label) for an element, which is not necessarily unique within the document.</a:documentation>
            <data type="string"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.attribute.xmllang">
      <optional>
         <attribute name="xml:lang">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(language) indicates the language of the element content using a tag generated according to <a xmlns="http://www.w3.org/1999/xhtml"
                  href="http://www.rfc-editor.org/rfc/bcp/bcp47.txt">BCP 47</a>.</a:documentation>
            <choice>
               <data type="language"/>
               <choice>
                  <value/>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               </choice>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.attribute.xmlbase">
      <optional>
         <attribute name="xml:base">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides a base URI reference with which applications can resolve relative URI references into absolute URI references.</a:documentation>
            <data type="anyURI"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.attribute.xmlspace">
      <optional>
         <attribute name="xml:space">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">signals an intention about how white space should be managed by applications.</a:documentation>
            <choice>
               <value>default</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">signals that the application's default white-space processing modes are acceptable</a:documentation>
               <value>preserve</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the intent that applications preserve all white space</a:documentation>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.typed.attributes">
      <ref name="tei_att.typed.attribute.type"/>
      <ref name="tei_att.typed.attribute.subtype"/>
   </define>
   <define name="tei_att.typed.attribute.type">
      <optional>
         <attribute name="type">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">characterizes the element in some sense, using any convenient classification scheme or typology.</a:documentation>
            <data type="token">
               <param name="pattern">[^\p{C}\p{Z}]+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.typed.attribute.subtype">
      <optional>
         <attribute name="subtype">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(subtype) provides a sub-categorization of the element, if needed</a:documentation>
            <data type="token">
               <param name="pattern">[^\p{C}\p{Z}]+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="tei-arabic-att.typed-subtypeTyped-constraint-rule-1">
      <sch:rule xmlns:xi="http://www.w3.org/2001/XInclude"
                xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                context="tei:*[@subtype]">
        <sch:assert test="@type">The <sch:name/> element should not be categorized in detail with @subtype unless also categorized in general with @type</sch:assert>
      </sch:rule>
   </pattern>
   <define name="tei_model.nameLike.agent">
      <notAllowed/>
   </define>
   <define name="tei_model.nameLike.agent_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.nameLike.agent_sequence">
      <empty/>
   </define>
   <define name="tei_model.nameLike.agent_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.nameLike.agent_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.nameLike.agent_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.hiLike">
      <notAllowed/>
   </define>
   <define name="tei_model.hiLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.hiLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.hiLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.hiLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.hiLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.emphLike">
      <notAllowed/>
   </define>
   <define name="tei_model.emphLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.emphLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.emphLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.emphLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.emphLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.dateLike">
      <notAllowed/>
   </define>
   <define name="tei_model.dateLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.dateLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.dateLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.dateLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.dateLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.measureLike">
      <notAllowed/>
   </define>
   <define name="tei_model.measureLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.measureLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.measureLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.measureLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.measureLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.egLike">
      <notAllowed/>
   </define>
   <define name="tei_model.egLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.egLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.egLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.egLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.egLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.offsetLike">
      <notAllowed/>
   </define>
   <define name="tei_model.offsetLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.offsetLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.offsetLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.offsetLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.offsetLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.editorial">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.editorial_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.editorial_sequence">
      <empty/>
   </define>
   <define name="tei_model.pPart.editorial_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.pPart.editorial_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.pPart.editorial_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.transcriptional">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.transcriptional_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequence">
      <empty/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.ptrLike">
      <notAllowed/>
   </define>
   <define name="tei_model.global.meta">
      <notAllowed/>
   </define>
   <define name="tei_model.milestoneLike">
      <notAllowed/>
   </define>
   <define name="tei_model.oddDecl">
      <notAllowed/>
   </define>
   <define name="tei_model.oddDecl_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.oddDecl_sequence">
      <empty/>
   </define>
   <define name="tei_model.oddDecl_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.oddDecl_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.oddDecl_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.biblLike">
      <notAllowed/>
   </define>
   <define name="tei_model.biblLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.biblLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.biblLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.biblLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.biblLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.headLike">
      <notAllowed/>
   </define>
   <define name="tei_model.headLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.headLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.headLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.headLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.headLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.labelLike">
      <notAllowed/>
   </define>
   <define name="tei_model.labelLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.labelLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.labelLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.labelLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.labelLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.listLike">
      <notAllowed/>
   </define>
   <define name="tei_model.listLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.listLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.listLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.listLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.listLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.noteLike">
      <notAllowed/>
   </define>
   <define name="tei_model.lLike">
      <notAllowed/>
   </define>
   <define name="tei_model.lLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.lLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.lLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.lLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.lLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.pLike">
      <notAllowed/>
   </define>
   <define name="tei_model.pLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.pLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.pLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.pLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.pLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.stageLike">
      <notAllowed/>
   </define>
   <define name="tei_model.stageLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.stageLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.stageLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.stageLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.stageLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.global.edit">
      <notAllowed/>
   </define>
   <define name="tei_model.divPart">
      <choice>
         <ref name="tei_model.lLike"/>
         <ref name="tei_model.pLike"/>
      </choice>
   </define>
   <define name="tei_model.placeNamePart">
      <notAllowed/>
   </define>
   <define name="tei_model.placeNamePart_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.placeNamePart_sequence">
      <empty/>
   </define>
   <define name="tei_model.placeNamePart_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.placeNamePart_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.placeNamePart_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.placeStateLike">
      <choice>
         <ref name="tei_model.placeNamePart"/>
      </choice>
   </define>
   <define name="tei_model.placeStateLike_alternation">
      <choice>
         <ref name="tei_model.placeNamePart_alternation"/>
      </choice>
   </define>
   <define name="tei_model.placeStateLike_sequence">
      <ref name="tei_model.placeNamePart_sequence"/>
   </define>
   <define name="tei_model.placeStateLike_sequenceOptional">
      <optional>
         <ref name="tei_model.placeNamePart_sequenceOptional"/>
      </optional>
   </define>
   <define name="tei_model.placeStateLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_model.placeNamePart_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.placeStateLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_model.placeNamePart_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="tei_model.publicationStmtPart.agency">
      <notAllowed/>
   </define>
   <define name="tei_model.publicationStmtPart.detail">
      <choice>
         <ref name="tei_model.ptrLike"/>
      </choice>
   </define>
   <define name="tei_model.quoteLike">
      <notAllowed/>
   </define>
   <define name="tei_model.quoteLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.quoteLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.quoteLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.quoteLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.quoteLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.attributable">
      <choice>
         <ref name="tei_model.quoteLike"/>
      </choice>
   </define>
   <define name="tei_model.attributable_alternation">
      <choice>
         <ref name="tei_model.quoteLike_alternation"/>
      </choice>
   </define>
   <define name="tei_model.attributable_sequence">
      <ref name="tei_model.quoteLike_sequence"/>
   </define>
   <define name="tei_model.attributable_sequenceOptional">
      <optional>
         <ref name="tei_model.quoteLike_sequenceOptional"/>
      </optional>
   </define>
   <define name="tei_model.attributable_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_model.quoteLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.attributable_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_model.quoteLike_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="tei_model.respLike">
      <notAllowed/>
   </define>
   <define name="tei_model.divWrapper">
      <notAllowed/>
   </define>
   <define name="tei_model.divTopPart">
      <choice>
         <ref name="tei_model.headLike"/>
      </choice>
   </define>
   <define name="tei_model.divTop">
      <choice>
         <ref name="tei_model.divWrapper"/>
         <ref name="tei_model.divTopPart"/>
      </choice>
   </define>
   <define name="tei_model.divBottomPart">
      <notAllowed/>
   </define>
   <define name="tei_model.divBottom">
      <choice>
         <ref name="tei_model.divWrapper"/>
         <ref name="tei_model.divBottomPart"/>
      </choice>
   </define>
   <define name="tei_model.addressLike">
      <notAllowed/>
   </define>
   <define name="tei_model.addressLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.addressLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.addressLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.addressLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.addressLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.nameLike">
      <choice>
         <ref name="tei_model.nameLike.agent"/>
         <ref name="tei_model.offsetLike"/>
         <ref name="tei_model.placeStateLike"/>
      </choice>
   </define>
   <define name="tei_model.nameLike_alternation">
      <choice>
         <ref name="tei_model.nameLike.agent_alternation"/>
         <ref name="tei_model.offsetLike_alternation"/>
         <ref name="tei_model.placeStateLike_alternation"/>
      </choice>
   </define>
   <define name="tei_model.nameLike_sequence">
      <ref name="tei_model.nameLike.agent_sequence"/>
      <ref name="tei_model.offsetLike_sequence"/>
      <ref name="tei_model.placeStateLike_sequence"/>
   </define>
   <define name="tei_model.nameLike_sequenceOptional">
      <optional>
         <ref name="tei_model.nameLike.agent_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_model.offsetLike_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_model.placeStateLike_sequenceOptional"/>
      </optional>
   </define>
   <define name="tei_model.nameLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_model.nameLike.agent_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_model.offsetLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_model.placeStateLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.nameLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_model.nameLike.agent_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_model.offsetLike_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_model.placeStateLike_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="tei_model.global">
      <choice>
         <ref name="tei_model.global.meta"/>
         <ref name="tei_model.milestoneLike"/>
         <ref name="tei_model.noteLike"/>
         <ref name="tei_model.global.edit"/>
      </choice>
   </define>
   <define name="tei_model.inter">
      <choice>
         <ref name="tei_model.egLike"/>
         <ref name="tei_model.oddDecl"/>
         <ref name="tei_model.biblLike"/>
         <ref name="tei_model.labelLike"/>
         <ref name="tei_model.listLike"/>
         <ref name="tei_model.stageLike"/>
         <ref name="tei_model.attributable"/>
      </choice>
   </define>
   <define name="tei_model.common">
      <choice>
         <ref name="tei_model.divPart"/>
         <ref name="tei_model.inter"/>
      </choice>
   </define>
   <define name="tei_model.divLike">
      <choice>
         <ref name="tei_div"/>
      </choice>
   </define>
   <define name="tei_model.divGenLike">
      <notAllowed/>
   </define>
   <define name="tei_model.div1Like">
      <notAllowed/>
   </define>
   <define name="tei_model.teiHeaderPart">
      <notAllowed/>
   </define>
   <define name="tei_model.sourceDescPart">
      <notAllowed/>
   </define>
   <define name="tei_model.resource">
      <choice>
         <ref name="tei_text"/>
      </choice>
   </define>
   <define name="tei_att.msExcerpt.attribute.defective">
      <optional>
         <attribute name="defective">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates whether the passage being quoted is defective, i.e. incomplete through loss or damage.</a:documentation>
            <choice>
               <data type="boolean"/>
               <choice>
                  <value>unknown</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>inapplicable</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               </choice>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.msClass.attribute.class">
      <optional>
         <attribute name="class">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the text types or classifications applicable to this item by pointing to other elements or resources defining the classification concerned. </a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_teiHeader">
      <element name="teiHeader">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(TEI header) supplies descriptive and declarative metadata associated with a digital resource or set of resources. [2.1.1. The TEI Header and Its Components 15.1. Varieties of Composite Text]</a:documentation>
         <group>
            <ref name="tei_fileDesc"/>
            <zeroOrMore>
               <ref name="tei_model.teiHeaderPart"/>
            </zeroOrMore>
         </group>
         <ref name="tei_att.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_fileDesc">
      <element name="fileDesc">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(file description) contains a full bibliographic description of an electronic file. [2.2. The File Description 2.1.1. The TEI Header and Its Components]</a:documentation>
         <group>
            <group>
               <ref name="tei_titleStmt"/>
               <ref name="tei_publicationStmt"/>
            </group>
            <oneOrMore>
               <ref name="tei_sourceDesc"/>
            </oneOrMore>
         </group>
         <ref name="tei_att.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_titleStmt">
      <element name="titleStmt">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(title statement) groups information about the title of a work and those responsible for its content. [2.2.1. The Title Statement 2.2. The File Description]</a:documentation>
         <group>
            <zeroOrMore>
               <ref name="tei_model.respLike"/>
            </zeroOrMore>
         </group>
         <ref name="tei_att.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_publicationStmt">
      <element name="publicationStmt">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(publication statement) groups information concerning the publication or distribution of an electronic or other text. [2.2.4. Publication, Distribution, Licensing, etc. 2.2. The File Description]</a:documentation>
         <choice>
            <oneOrMore>
               <group>
                  <ref name="tei_model.publicationStmtPart.agency"/>
                  <zeroOrMore>
                     <ref name="tei_model.publicationStmtPart.detail"/>
                  </zeroOrMore>
               </group>
            </oneOrMore>
            <oneOrMore>
               <ref name="tei_model.pLike"/>
            </oneOrMore>
         </choice>
         <ref name="tei_att.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_sourceDesc">
      <element name="sourceDesc">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(source description) describes the source(s) from which an electronic text was derived or generated, typically a bibliographic description in the case of a digitized text, or a phrase such as "born digital" for a text which has no previous existence. [2.2.7. The Source Description]</a:documentation>
         <choice>
            <oneOrMore>
               <ref name="tei_model.pLike"/>
            </oneOrMore>
            <oneOrMore>
               <choice>
                  <ref name="tei_model.biblLike"/>
                  <ref name="tei_model.sourceDescPart"/>
                  <ref name="tei_model.listLike"/>
               </choice>
            </oneOrMore>
         </choice>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.declarable.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_TEI">
      <element name="TEI">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(TEI document) contains a single TEI-conformant document, combining a single TEI header with one or more members of the model.resource class. Multiple <code xmlns="http://www.w3.org/1999/xhtml">&lt;TEI&gt;</code> elements may be combined within a <code xmlns="http://www.w3.org/1999/xhtml">&lt;TEI&gt;</code> (or <code xmlns="http://www.w3.org/1999/xhtml">&lt;teiCorpus&gt;</code>) element. [4. Default Text Structure 15.1. Varieties of Composite Text]</a:documentation>
         <group>
            <ref name="tei_teiHeader"/>
            <choice>
               <group>
                  <oneOrMore>
                     <ref name="tei_model.resource"/>
                  </oneOrMore>
                  <zeroOrMore>
                     <ref name="tei_TEI"/>
                  </zeroOrMore>
               </group>
               <oneOrMore>
                  <ref name="tei_TEI"/>
               </oneOrMore>
            </choice>
         </group>
         <sch:ns xmlns="http://www.tei-c.org/ns/1.0"
                 xmlns:rng="http://relaxng.org/ns/structure/1.0"
                 xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                 prefix="tei"
                 uri="http://www.tei-c.org/ns/1.0"/>
         <sch:ns xmlns="http://www.tei-c.org/ns/1.0"
                 xmlns:rng="http://relaxng.org/ns/structure/1.0"
                 xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                 prefix="xs"
                 uri="http://www.w3.org/2001/XMLSchema"/>
         <sch:ns xmlns="http://www.tei-c.org/ns/1.0"
                 xmlns:rng="http://relaxng.org/ns/structure/1.0"
                 xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                 prefix="rng"
                 uri="http://relaxng.org/ns/structure/1.0"/>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.typed.attributes"/>
         <optional>
            <attribute name="version">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the version number of the TEI Guidelines against which this document is valid.</a:documentation>
               <data type="token">
                  <param name="pattern">[\d]+(\.[\d]+){0,2}</param>
               </data>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="tei_text">
      <element name="text">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(text) contains a single text of any kind, whether unitary or composite, for example a poem or drama, a collection of essays, a novel, a dictionary, or a corpus sample. [4. Default Text Structure 15.1. Varieties of Composite Text]</a:documentation>
         <group>
            <zeroOrMore>
               <ref name="tei_model.global"/>
            </zeroOrMore>
            <choice>
               <ref name="tei_body"/>
            </choice>
            <zeroOrMore>
               <ref name="tei_model.global"/>
            </zeroOrMore>
         </group>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.declaring.attributes"/>
         <ref name="tei_att.typed.attributes"/>
         <ref name="tei_att.written.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_body">
      <element name="body">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(text body) contains the whole body of a single unitary text, excluding any front or back matter. [4. Default Text Structure]</a:documentation>
         <group>
            <zeroOrMore>
               <ref name="tei_model.global"/>
            </zeroOrMore>
            <optional>
               <group>
                  <ref name="tei_model.divTop"/>
                  <zeroOrMore>
                     <choice>
                        <ref name="tei_model.global"/>
                        <ref name="tei_model.divTop"/>
                     </choice>
                  </zeroOrMore>
               </group>
            </optional>
            <optional>
               <group>
                  <ref name="tei_model.divGenLike"/>
                  <zeroOrMore>
                     <choice>
                        <ref name="tei_model.global"/>
                        <ref name="tei_model.divGenLike"/>
                     </choice>
                  </zeroOrMore>
               </group>
            </optional>
            <choice>
               <oneOrMore>
                  <group>
                     <ref name="tei_model.divLike"/>
                     <zeroOrMore>
                        <choice>
                           <ref name="tei_model.global"/>
                           <ref name="tei_model.divGenLike"/>
                        </choice>
                     </zeroOrMore>
                  </group>
               </oneOrMore>
               <oneOrMore>
                  <group>
                     <ref name="tei_model.div1Like"/>
                     <zeroOrMore>
                        <choice>
                           <ref name="tei_model.global"/>
                           <ref name="tei_model.divGenLike"/>
                        </choice>
                     </zeroOrMore>
                  </group>
               </oneOrMore>
               <group>
                  <oneOrMore>
                     <group>
                        <ref name="tei_model.common"/>
                        <zeroOrMore>
                           <ref name="tei_model.global"/>
                        </zeroOrMore>
                     </group>
                  </oneOrMore>
                  <optional>
                     <choice>
                        <oneOrMore>
                           <group>
                              <ref name="tei_model.divLike"/>
                              <zeroOrMore>
                                 <choice>
                                    <ref name="tei_model.global"/>
                                    <ref name="tei_model.divGenLike"/>
                                 </choice>
                              </zeroOrMore>
                           </group>
                        </oneOrMore>
                        <oneOrMore>
                           <group>
                              <ref name="tei_model.div1Like"/>
                              <zeroOrMore>
                                 <choice>
                                    <ref name="tei_model.global"/>
                                    <ref name="tei_model.divGenLike"/>
                                 </choice>
                              </zeroOrMore>
                           </group>
                        </oneOrMore>
                     </choice>
                  </optional>
               </group>
            </choice>
            <zeroOrMore>
               <group>
                  <ref name="tei_model.divBottom"/>
                  <zeroOrMore>
                     <ref name="tei_model.global"/>
                  </zeroOrMore>
               </group>
            </zeroOrMore>
         </group>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.declaring.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_div">
      <element name="div">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(text division) contains a subdivision of the front, body, or back of a text. [4.1. Divisions of the Body]</a:documentation>
         <group>
            <zeroOrMore>
               <choice>
                  <ref name="tei_model.divTop"/>
                  <ref name="tei_model.global"/>
               </choice>
            </zeroOrMore>
            <optional>
               <group>
                  <choice>
                     <oneOrMore>
                        <group>
                           <choice>
                              <ref name="tei_model.divLike"/>
                              <ref name="tei_model.divGenLike"/>
                           </choice>
                           <zeroOrMore>
                              <ref name="tei_model.global"/>
                           </zeroOrMore>
                        </group>
                     </oneOrMore>
                     <group>
                        <oneOrMore>
                           <group>
                              <ref name="tei_model.common"/>
                              <zeroOrMore>
                                 <ref name="tei_model.global"/>
                              </zeroOrMore>
                           </group>
                        </oneOrMore>
                        <zeroOrMore>
                           <group>
                              <choice>
                                 <ref name="tei_model.divLike"/>
                                 <ref name="tei_model.divGenLike"/>
                              </choice>
                              <zeroOrMore>
                                 <ref name="tei_model.global"/>
                              </zeroOrMore>
                           </group>
                        </zeroOrMore>
                     </group>
                  </choice>
                  <zeroOrMore>
                     <group>
                        <ref name="tei_model.divBottom"/>
                        <zeroOrMore>
                           <ref name="tei_model.global"/>
                        </zeroOrMore>
                     </group>
                  </zeroOrMore>
               </group>
            </optional>
         </group>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="tei-arabic-div-div-constraint-rule-2">
            <sch:rule xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:rng="http://relaxng.org/ns/structure/1.0"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      context="tei:div[parent::tei:body]">
                                <sch:report test="@type='textpart'">the outermost div must always
                                    have an attribute type edition, bibliography, commentary,
                                    translation or apparatus; type textpart is to be used inside
                                    edition.</sch:report>
                            </sch:rule>
         </pattern>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="tei-arabic-div-abstractModel-structure-l-constraint-report-2">
            <rule context="tei:div">
               <report xmlns:rng="http://relaxng.org/ns/structure/1.0"
                       xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                       test="ancestor::tei:l">
        Abstract model violation: Lines may not contain higher-level structural elements such as div.
      </report>
            </rule>
         </pattern>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="tei-arabic-div-abstractModel-structure-p-constraint-report-3">
            <rule context="tei:div">
               <report xmlns:rng="http://relaxng.org/ns/structure/1.0"
                       xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                       test="ancestor::tei:p or ancestor::tei:ab and not(ancestor::tei:floatingText)">
        Abstract model violation: p and ab may not contain higher-level structural elements such as div.
      </report>
            </rule>
         </pattern>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.divLike.attributes"/>
         <ref name="tei_att.declaring.attributes"/>
         <ref name="tei_att.written.attributes"/>
         <attribute name="type">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <choice>
               <value>apparatus</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">to contain apparatus criticus or textual notes</a:documentation>
               <value>bibliography</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">to contain bibliographical information, previous publications, etc.</a:documentation>
               <value>commentary</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">to contain all editorial commentary, historical/prosopographical discussion, etc.</a:documentation>
               <value>edition</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">to contain the text of the edition itself; may include multiple text-parts</a:documentation>
               <value>textpart</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">used to divide a div[type=edition] into multiple parts (fragments, columns, faces, etc.)</a:documentation>
               <value>translation</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">to contain a translation of the text into one or more modern languages</a:documentation>
            </choice>
         </attribute>
         <optional>
            <attribute name="subtype">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
Sample values include: 1] book; 2] chapter; 3] stanza; 4] commemoration; 5] incipit; 6] explicit; 7] canon; 8] title; 9] desinit; 10] supplication; 11] expanded; 12] inscriptio; 13] subscriptio; 14] embedded; 15] translation; 16] coretext; 17] textsubunit; 18] colophon; 19] list</a:documentation>
               <list>
                  <data type="token">
                     <param name="pattern">[^\p{C}\p{Z}]+</param>
                  </data>
                  <optional>
                     <data type="token">
                        <param name="pattern">[^\p{C}\p{Z}]+</param>
                     </data>
                  </optional>
                  <optional>
                     <data type="token">
                        <param name="pattern">[^\p{C}\p{Z}]+</param>
                     </data>
                  </optional>
                  <optional>
                     <data type="token">
                        <param name="pattern">[^\p{C}\p{Z}]+</param>
                     </data>
                  </optional>
                  <optional>
                     <data type="token">
                        <param name="pattern">[^\p{C}\p{Z}]+</param>
                     </data>
                  </optional>
                  <optional>
                     <data type="token">
                        <param name="pattern">[^\p{C}\p{Z}]+</param>
                     </data>
                  </optional>
               </list>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <start>
      <choice>
         <ref name="tei_TEI"/>
      </choice>
   </start>
</grammar>
