schemas/persons.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:tei="http://www.tei-c.org/ns/1.0"
         xmlns:teix="http://www.tei-c.org/ns/Examples"
         xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://www.tei-c.org/ns/1.0"><!--
Schema generated from ODD source 2022-07-26T10:27:58Z. .
TEI Edition: Version 4.4.0. Last updated on
        19th April 2022, revision ff9cc28b0
TEI Edition Location: https://www.tei-c.org/Vault/P5/Version 4.4.0/
  
--><!--[http://creativecommons.org/licenses/by-sa/4.0/] This file is licensed under the Creative Commons Attribution-ShareAlike 4.0. -->
   <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron"
           prefix="tei"
           uri="http://www.tei-c.org/ns/1.0"/>
   <define name="tei_att.canonical.attributes">
      <ref name="tei_att.canonical.attribute.key"/>
      <ref name="tei_att.canonical.attribute.ref"/>
   </define>
   <define name="tei_att.canonical.attribute.key">
      <optional>
         <attribute name="key">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides an externally-defined means of identifying the entity (or entities) being named, using a coded value of some kind.</a:documentation>
            <data type="string"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.canonical.attribute.ref">
      <optional>
         <attribute name="ref">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(reference) provides an explicit means of locating a full definition or identity for the entity being named by means of one or more URIs.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI">
                     <param name="pattern">\S+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.w3c.attribute.when">
      <optional>
         <attribute name="when">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies the value of the date or time in a standard form, e.g. yyyy-mm-dd.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.w3c.attribute.notBefore">
      <optional>
         <attribute name="notBefore">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the earliest possible date for the event in standard form, e.g. yyyy-mm-dd.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.w3c.attribute.notAfter">
      <optional>
         <attribute name="notAfter">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the latest possible date for the event in standard form, e.g. yyyy-mm-dd.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.w3c.attribute.from">
      <optional>
         <attribute name="from">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the starting point of the period in standard form, e.g. yyyy-mm-dd.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.w3c.attribute.to">
      <optional>
         <attribute name="to">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the ending point of the period in standard form, e.g. yyyy-mm-dd.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
            </choice>
         </attribute>
      </optional>
   </define>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="persons-att.datable.w3c-att-datable-w3c-when-constraint-rule-1">
      <sch:rule xmlns:xi="http://www.w3.org/2001/XInclude"
                xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                context="tei:*[@when]">
         <sch:report test="@notBefore|@notAfter|@from|@to" role="nonfatal">The @when attribute cannot be used with any other att.datable.w3c attributes.</sch:report>
      </sch:rule>
   </pattern>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="persons-att.datable.w3c-att-datable-w3c-from-constraint-rule-2">
      <sch:rule xmlns:xi="http://www.w3.org/2001/XInclude"
                xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                context="tei:*[@from]">
         <sch:report test="@notBefore" role="nonfatal">The @from and @notBefore attributes cannot be used together.</sch:report>
      </sch:rule>
   </pattern>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="persons-att.datable.w3c-att-datable-w3c-to-constraint-rule-3">
      <sch:rule xmlns:xi="http://www.w3.org/2001/XInclude"
                xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                context="tei:*[@to]">
         <sch:report test="@notAfter" role="nonfatal">The @to and @notAfter attributes cannot be used together.</sch:report>
      </sch:rule>
   </pattern>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="persons-att.datable-calendar-calendar-constraint-rule-4">
      <sch:rule xmlns:xi="http://www.w3.org/2001/XInclude"
                xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                context="tei:*[@calendar]">
         <sch:assert test="string-length(.) gt 0"> @calendar indicates one or more systems or calendars to
              which the date represented by the content of this element belongs, but this
              <sch:name/> element has no textual content.</sch:assert>
      </sch:rule>
   </pattern>
   <define name="tei_att.declarable.attributes">
      <ref name="tei_att.declarable.attribute.default"/>
   </define>
   <define name="tei_att.declarable.attribute.default">
      <optional>
         <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    name="default"
                    a:defaultValue="false">
            <a:documentation>indicates whether or not this element is selected by default when its parent is selected.</a:documentation>
            <choice>
               <value>true</value>
               <a:documentation>This element is selected if its parent is selected</a:documentation>
               <value>false</value>
               <a:documentation>This element can only be selected explicitly, unless it is the only one of its kind, in which case it is selected if its parent is selected.</a:documentation>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.declaring.attributes">
      <ref name="tei_att.declaring.attribute.decls"/>
   </define>
   <define name="tei_att.declaring.attribute.decls">
      <optional>
         <attribute name="decls">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies one or more declarable elements within the header, which are understood to apply to the element bearing this attribute and its content.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI">
                     <param name="pattern">\S+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.editLike.attributes">
      <ref name="tei_att.editLike.attribute.evidence"/>
      <ref name="tei_att.editLike.attribute.instant"/>
   </define>
   <define name="tei_att.editLike.attribute.evidence">
      <optional>
         <attribute name="evidence">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the nature of the evidence supporting the reliability or accuracy of the intervention or interpretation.
Suggested values include: 1] internal; 2] external; 3] conjecture</a:documentation>
            <list>
               <oneOrMore>
                  <choice>
                     <value>internal</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">there is internal evidence to support the intervention.</a:documentation>
                     <value>external</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">there is external evidence to support the intervention.</a:documentation>
                     <value>conjecture</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the intervention or interpretation has been made by the editor, cataloguer, or scholar on the basis of their expertise.</a:documentation>
                     <data type="token">
                        <param name="pattern">[^\p{C}\p{Z}]+</param>
                     </data>
                  </choice>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.editLike.attribute.instant">
      <optional>
         <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    name="instant"
                    a:defaultValue="false">
            <a:documentation>indicates whether this is an instant revision or not.</a:documentation>
            <choice>
               <data type="boolean"/>
               <choice>
                  <value>unknown</value>
                  <a:documentation/>
                  <value>inapplicable</value>
                  <a:documentation/>
               </choice>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.internetMedia.attributes">
      <ref name="tei_att.internetMedia.attribute.mimeType"/>
   </define>
   <define name="tei_att.internetMedia.attribute.mimeType">
      <optional>
         <attribute name="mimeType">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(MIME media type) specifies the applicable multimedia internet mail extension (MIME) media type</a:documentation>
            <list>
               <oneOrMore>
                  <data type="token">
                     <param name="pattern">[^\p{C}\p{Z}]+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.naming.attribute.role">
      <optional>
         <attribute name="role">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">may be used to specify further information about the entity referenced by this name in the form of a set of whitespace-separated values, for example the occupation of a person, or the status of a place.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="token">
                     <param name="pattern">[^\p{C}\p{Z}]+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.naming.attribute.nymRef">
      <optional>
         <attribute name="nymRef">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(reference to the canonical name) provides a means of locating the canonical form (nym) of the names associated with the object named by the element bearing it.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI">
                     <param name="pattern">\S+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="persons-att.typed-subtypeTyped-constraint-rule-5">
      <sch:rule xmlns:xi="http://www.w3.org/2001/XInclude"
                xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                context="tei:*[@subtype]">
         <sch:assert test="@type">The <sch:name/> element should not be categorized in detail with @subtype unless also categorized in general with @type</sch:assert>
      </sch:rule>
   </pattern>
   <define name="tei_att.pointing.attributes">
      <ref name="tei_att.pointing.attribute.targetLang"/>
      <ref name="tei_att.pointing.attribute.target"/>
      <ref name="tei_att.pointing.attribute.evaluate"/>
   </define>
   <define name="tei_att.pointing.attribute.targetLang">
      <optional>
         <attribute name="targetLang">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the language of the content to be found at the destination referenced by <code xmlns="http://www.w3.org/1999/xhtml">@target</code>, using a language tag generated according to <a xmlns="http://www.w3.org/1999/xhtml"
                  href="http://www.rfc-editor.org/rfc/bcp/bcp47.txt">BCP 47</a>.</a:documentation>
            <choice>
               <data type="language"/>
               <choice>
                  <value/>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               </choice>
            </choice>
         </attribute>
      </optional>
   </define>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="persons-att.pointing-targetLang-targetLang-constraint-rule-6">
      <sch:rule xmlns:xi="http://www.w3.org/2001/XInclude"
                xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                context="tei:*[not(self::tei:schemaSpec)][@targetLang]">
         <sch:assert test="@target">@targetLang should only be used on <sch:name/> if @target is specified.</sch:assert>
      </sch:rule>
   </pattern>
   <define name="tei_att.pointing.attribute.target">
      <optional>
         <attribute name="target">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the destination of the reference by supplying one or more URI References</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI">
                     <param name="pattern">\S+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.pointing.attribute.evaluate">
      <optional>
         <attribute name="evaluate">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(evaluate) specifies the intended meaning when the target of a pointer is itself a pointer.</a:documentation>
            <choice>
               <value>all</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">if the element pointed to is itself a pointer, then the target of that pointer will be taken, and so on, until an element is found which is not a pointer.</a:documentation>
               <value>one</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">if the element pointed to is itself a pointer, then its target (whether a pointer or not) is taken as the target of this pointer.</a:documentation>
               <value>none</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">no further evaluation of targets is carried out beyond that needed to find the element specified in the pointer's target.</a:documentation>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.sortable.attributes">
      <ref name="tei_att.sortable.attribute.sortKey"/>
   </define>
   <define name="tei_att.sortable.attribute.sortKey">
      <optional>
         <attribute name="sortKey">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies the sort key for this element in an index, list or group which contains it.</a:documentation>
            <data type="token">
               <param name="pattern">[^\p{C}\p{Z}]+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.citing.attribute.unit">
      <optional>
         <attribute name="unit">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the unit of information conveyed by the element, e.g. columns, pages, volume, entry.
Suggested values include: 1] volume (volume); 2] issue; 3] page (page); 4] line; 5] chapter (chapter); 6] part; 7] column; 8] entry</a:documentation>
            <choice>
               <value>volume</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(volume) the element contains a volume number.</a:documentation>
               <value>issue</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the element contains an issue number, or volume and issue numbers.</a:documentation>
               <value>page</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(page) the element contains a page number or page range.</a:documentation>
               <value>line</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the element contains a line number or line range.</a:documentation>
               <value>chapter</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(chapter) the element contains a chapter indication (number and/or title)</a:documentation>
               <value>part</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the element identifies a part of a book or collection.</a:documentation>
               <value>column</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the element identifies a column.</a:documentation>
               <value>entry</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the element identifies an entry number or label in a list of entries.</a:documentation>
               <data type="token">
                  <param name="pattern">[^\p{C}\p{Z}]+</param>
               </data>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.citing.attribute.from">
      <optional>
         <attribute name="from">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the starting point of the range of units indicated by the <code xmlns="http://www.w3.org/1999/xhtml">@unit</code> attribute.</a:documentation>
            <data type="token">
               <param name="pattern">[^\p{C}\p{Z}]+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.citing.attribute.to">
      <optional>
         <attribute name="to">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the end-point of the range of units indicated by the <code xmlns="http://www.w3.org/1999/xhtml">@unit</code> attribute.</a:documentation>
            <data type="token">
               <param name="pattern">[^\p{C}\p{Z}]+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="tei_model.nameLike.agent">
      <choice>
         <ref name="tei_persName"/>
      </choice>
   </define>
   <define name="tei_model.nameLike.agent_alternation">
      <choice>
         <ref name="tei_persName"/>
      </choice>
   </define>
   <define name="tei_model.nameLike.agent_sequence">
      <ref name="tei_persName"/>
   </define>
   <define name="tei_model.nameLike.agent_sequenceOptional">
      <optional>
         <ref name="tei_persName"/>
      </optional>
   </define>
   <define name="tei_model.nameLike.agent_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_persName"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.nameLike.agent_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_persName"/>
      </oneOrMore>
   </define>
   <define name="tei_model.hiLike">
      <notAllowed/>
   </define>
   <define name="tei_model.hiLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.hiLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.hiLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.hiLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.hiLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.emphLike">
      <notAllowed/>
   </define>
   <define name="tei_model.emphLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.emphLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.emphLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.emphLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.emphLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.dateLike">
      <choice>
         <ref name="tei_date"/>
      </choice>
   </define>
   <define name="tei_model.dateLike_alternation">
      <choice>
         <ref name="tei_date"/>
      </choice>
   </define>
   <define name="tei_model.dateLike_sequence">
      <ref name="tei_date"/>
   </define>
   <define name="tei_model.dateLike_sequenceOptional">
      <optional>
         <ref name="tei_date"/>
      </optional>
   </define>
   <define name="tei_model.dateLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_date"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.dateLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_date"/>
      </oneOrMore>
   </define>
   <define name="tei_model.measureLike">
      <notAllowed/>
   </define>
   <define name="tei_model.measureLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.measureLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.measureLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.measureLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.measureLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.offsetLike">
      <notAllowed/>
   </define>
   <define name="tei_model.offsetLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.offsetLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.offsetLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.offsetLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.offsetLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.editorial">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.editorial_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.editorial_sequence">
      <empty/>
   </define>
   <define name="tei_model.pPart.editorial_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.pPart.editorial_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.pPart.editorial_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.transcriptional">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.transcriptional_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequence">
      <empty/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.placeNamePart">
      <choice>
         <ref name="tei_placeName"/>
      </choice>
   </define>
   <define name="tei_model.placeNamePart_alternation">
      <choice>
         <ref name="tei_placeName"/>
      </choice>
   </define>
   <define name="tei_model.placeNamePart_sequence">
      <ref name="tei_placeName"/>
   </define>
   <define name="tei_model.placeNamePart_sequenceOptional">
      <optional>
         <ref name="tei_placeName"/>
      </optional>
   </define>
   <define name="tei_model.placeNamePart_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_placeName"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.placeNamePart_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_placeName"/>
      </oneOrMore>
   </define>
   <define name="tei_model.placeStateLike">
      <choice>
         <ref name="tei_model.placeNamePart"/>
      </choice>
   </define>
   <define name="tei_model.placeStateLike_alternation">
      <choice>
         <ref name="tei_model.placeNamePart_alternation"/>
      </choice>
   </define>
   <define name="tei_model.placeStateLike_sequence">
      <ref name="tei_model.placeNamePart_sequence"/>
   </define>
   <define name="tei_model.placeStateLike_sequenceOptional">
      <optional>
         <ref name="tei_model.placeNamePart_sequenceOptional"/>
      </optional>
   </define>
   <define name="tei_model.placeStateLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_model.placeNamePart_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.placeStateLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_model.placeNamePart_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="tei_model.quoteLike">
      <notAllowed/>
   </define>
   <define name="tei_model.quoteLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.quoteLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.quoteLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.quoteLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.quoteLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.addressLike">
      <notAllowed/>
   </define>
   <define name="tei_model.addressLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.addressLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.addressLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.addressLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.addressLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.nameLike">
      <choice>
         <ref name="tei_model.nameLike.agent"/>
         <ref name="tei_model.offsetLike"/>
         <ref name="tei_model.placeStateLike"/>
         <ref name="tei_model.persNamePart"/>
         <ref name="tei_idno"/>
      </choice>
   </define>
   <define name="tei_model.nameLike_alternation">
      <choice>
         <ref name="tei_model.nameLike.agent_alternation"/>
         <ref name="tei_model.offsetLike_alternation"/>
         <ref name="tei_model.placeStateLike_alternation"/>
         <ref name="tei_model.persNamePart_alternation"/>
         <ref name="tei_idno"/>
      </choice>
   </define>
   <define name="tei_model.nameLike_sequence">
      <ref name="tei_model.nameLike.agent_sequence"/>
      <ref name="tei_model.offsetLike_sequence"/>
      <ref name="tei_model.placeStateLike_sequence"/>
      <ref name="tei_model.persNamePart_sequence"/>
      <ref name="tei_idno"/>
   </define>
   <define name="tei_model.nameLike_sequenceOptional">
      <optional>
         <ref name="tei_model.nameLike.agent_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_model.offsetLike_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_model.placeStateLike_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_model.persNamePart_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_idno"/>
      </optional>
   </define>
   <define name="tei_model.nameLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_model.nameLike.agent_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_model.offsetLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_model.placeStateLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_model.persNamePart_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_idno"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.nameLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_model.nameLike.agent_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_model.offsetLike_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_model.placeStateLike_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_model.persNamePart_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_idno"/>
      </oneOrMore>
   </define>
   <define name="tei_att.personal.attribute.full">
      <optional>
         <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    name="full"
                    a:defaultValue="yes">
            <a:documentation>indicates whether the name component is given in full, as an abbreviation or simply as an initial.</a:documentation>
            <choice>
               <value>yes</value>
               <a:documentation>(yes) the name component is spelled out in full.</a:documentation>
               <value>abb</value>
               <a:documentation>(abbreviated) the name component is given in an abbreviated form.</a:documentation>
               <value>init</value>
               <a:documentation>(initial letter) the name component is indicated only by one initial.</a:documentation>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.personal.attribute.sort">
      <optional>
         <attribute name="sort">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(sort) specifies the sort order of the name component in relation to others within the name.</a:documentation>
            <data type="nonNegativeInteger"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_desc">
      <element name="desc">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(description) contains a short description of the purpose, function, or use of its parent element, or when the parent is a documentation element, describes or defines the object being documented.  [22.4.1. Description of Components]</a:documentation>
         <text/>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="persons-desc-deprecationInfo-only-in-deprecated-constraint-rule-7">
            <sch:rule xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:rng="http://relaxng.org/ns/structure/1.0"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      context="tei:desc[ @type eq 'deprecationInfo']">
               <sch:assert test="../@validUntil">Information about a
        deprecation should only be present in a specification element
        that is being deprecated: that is, only an element that has a
        @validUntil attribute should have a child &lt;desc
        type="deprecationInfo"&gt;.</sch:assert>
            </sch:rule>
         </pattern>
      </element>
   </define>
   <define name="tei_date">
      <element name="date">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(date) Fill in the date in the agreed-upon calendrical system. Use the "when" attribute for precise values. In case the date can only be approximated, use the "notAfter "and "notBefore" attributes together. [3.6.4. Dates and Times 2.2.4. Publication, Distribution, Licensing, etc. 2.6. The Revision Description 3.12.2.4. Imprint, Size of a Document, and Reprint Information 15.2.3. The Setting Description 13.4. Dates]</a:documentation>
         <text/>
         <ref name="tei_att.datable.w3c.attribute.when"/>
         <ref name="tei_att.datable.w3c.attribute.notBefore"/>
         <ref name="tei_att.datable.w3c.attribute.notAfter"/>
         <empty/>
      </element>
   </define>
   <define name="tei_ptr">
      <element name="ptr">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(pointer) defines a pointer to another location. [3.7. Simple Links and Cross-References 16.1. Links]</a:documentation>
         <empty/>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="persons-ptr-ptrAtts-constraint-report-4">
            <rule context="tei:ptr">
               <report xmlns:rng="http://relaxng.org/ns/structure/1.0"
                       xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                       test="@target and @cRef">Only one of the
attributes @target and @cRef may be supplied on <name/>.</report>
            </rule>
         </pattern>
         <ref name="tei_att.declaring.attributes"/>
         <ref name="tei_att.internetMedia.attributes"/>
         <ref name="tei_att.pointing.attribute.target"/>
         <empty/>
      </element>
   </define>
   <define name="tei_citedRange">
      <element name="citedRange">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(cited range) defines the range of cited content, often represented by pages or other units [3.12.2.5. Scopes and Ranges in Bibliographic Citations]</a:documentation>
         <text/>
         <ref name="tei_att.pointing.attributes"/>
         <ref name="tei_att.citing.attribute.unit"/>
         <empty/>
      </element>
   </define>
   <define name="tei_bibl">
      <element name="bibl">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(bibliographic citation) A bibliographic item, like a monograph, journal article, or manuscript. [3.12.1. Methods of Encoding Bibliographic References and Lists of References 2.2.7. The Source Description 15.3.2. Declarable Elements]</a:documentation>
         <ref name="tei_date"/>
         <ref name="tei_citedRange"/>
         <ref name="tei_ptr"/>
         <empty/>
      </element>
   </define>
   <define name="tei_att.datable.custom.attribute.when-custom">
      <optional>
         <attribute name="when-custom">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies the value of a date or time in some custom standard form.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="token">
                     <param name="pattern">[^\p{C}\p{Z}]+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.custom.attribute.notBefore-custom">
      <optional>
         <attribute name="notBefore-custom">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the earliest possible date for the event in some custom standard form.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="token">
                     <param name="pattern">[^\p{C}\p{Z}]+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.custom.attribute.notAfter-custom">
      <optional>
         <attribute name="notAfter-custom">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the latest possible date for the event in some custom standard form.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="token">
                     <param name="pattern">[^\p{C}\p{Z}]+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.custom.attribute.from-custom">
      <optional>
         <attribute name="from-custom">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the starting point of the period in some custom standard form.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="token">
                     <param name="pattern">[^\p{C}\p{Z}]+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.custom.attribute.to-custom">
      <optional>
         <attribute name="to-custom">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the ending point of the period in some custom standard form.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="token">
                     <param name="pattern">[^\p{C}\p{Z}]+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.custom.attribute.datingPoint">
      <optional>
         <attribute name="datingPoint">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a pointer to some location defining a named point in time with reference to which the datable item is understood to have occurred</a:documentation>
            <data type="anyURI">
               <param name="pattern">\S+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.custom.attribute.datingMethod">
      <optional>
         <attribute name="datingMethod">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a pointer to a <code xmlns="http://www.w3.org/1999/xhtml">&lt;calendar&gt;</code> element or other means of interpreting the values of the custom dating attributes.</a:documentation>
            <data type="anyURI">
               <param name="pattern">\S+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="tei_model.persNamePart">
      <choice>
         <ref name="tei_forename"/>
         <ref name="tei_addName"/>
      </choice>
   </define>
   <define name="tei_model.persNamePart_alternation">
      <choice>
         <ref name="tei_forename"/>
         <ref name="tei_addName"/>
      </choice>
   </define>
   <define name="tei_model.persNamePart_sequence">
      <ref name="tei_forename"/>
      <ref name="tei_addName"/>
   </define>
   <define name="tei_model.persNamePart_sequenceOptional">
      <optional>
         <ref name="tei_forename"/>
      </optional>
      <optional>
         <ref name="tei_addName"/>
      </optional>
   </define>
   <define name="tei_model.persNamePart_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_forename"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_addName"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.persNamePart_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_forename"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_addName"/>
      </oneOrMore>
   </define>
   <define name="tei_att.datable.iso.attribute.when-iso">
      <optional>
         <attribute name="when-iso">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies the value of a date or time in a standard form.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
               <data type="token">
                  <param name="pattern">[0-9.,DHMPRSTWYZ/:+\-]+</param>
               </data>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.iso.attribute.notBefore-iso">
      <optional>
         <attribute name="notBefore-iso">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the earliest possible date for the event in standard form, e.g. yyyy-mm-dd.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
               <data type="token">
                  <param name="pattern">[0-9.,DHMPRSTWYZ/:+\-]+</param>
               </data>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.iso.attribute.notAfter-iso">
      <optional>
         <attribute name="notAfter-iso">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the latest possible date for the event in standard form, e.g. yyyy-mm-dd.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
               <data type="token">
                  <param name="pattern">[0-9.,DHMPRSTWYZ/:+\-]+</param>
               </data>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.iso.attribute.from-iso">
      <optional>
         <attribute name="from-iso">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the starting point of the period in standard form.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
               <data type="token">
                  <param name="pattern">[0-9.,DHMPRSTWYZ/:+\-]+</param>
               </data>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.iso.attribute.to-iso">
      <optional>
         <attribute name="to-iso">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the ending point of the period in standard form.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
               <data type="token">
                  <param name="pattern">[0-9.,DHMPRSTWYZ/:+\-]+</param>
               </data>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_persName">
      <element name="persName">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(personal name) You can either create child elements for every component like ism, kunya, etc. OR you enter the full form into the field. [13.2.1. Personal Names]</a:documentation>
         <ref name="tei_forename"/>
         <ref name="tei_addName"/>
         <ref name="tei_addName"/>
         <text/>
         <optional>
            <attribute name="srophe-tags">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <data type="string"/>
            </attribute>
         </optional>
         <optional>
            <attribute name="type">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <choice>
                  <value>attested</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>alternate</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>canon</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               </choice>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="tei_forename">
      <element name="forename">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(forename) A person's given name. [13.2.1. Personal Names]</a:documentation>
         <text/>
         <ref name="tei_att.personal.attribute.full"/>
         <ref name="tei_att.personal.attribute.sort"/>
         <empty/>
      </element>
   </define>
   <define name="tei_addName">
      <element name="addName">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(additional name) Name elements like kunya or patronym that do not fit the mold of forenames and surnames. Choose the type of name from the attribute list. [13.2.1. Personal Names]</a:documentation>
         <text/>
         <optional>
            <attribute name="type">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <choice>
                  <value>shuhra</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>ism</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>nasab</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>nisbah</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>kunya</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>laqab</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>patronym</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>epithet</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>acronym</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               </choice>
            </attribute>
         </optional>
         <ref name="tei_att.canonical.attribute.ref"/>
         <empty/>
      </element>
   </define>
   <define name="tei_placeName">
      <element name="placeName">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(place name) Look up the place records in the database to specify a settlement or town. Try different spellings in different languages! If no suitable record exists, create a new one. (The "ref" attribute will be filled out automatically when you link a place record to this element.) [13.2.3. Place Names]</a:documentation>
         <text/>
         <ref name="tei_att.canonical.attribute.ref"/>
         <empty/>
      </element>
   </define>
   <define name="tei_birth">
      <element name="birth">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(birth) Provide the date and place of birth in the respective child elements. [15.2.2. The Participant Description]</a:documentation>
         <ref name="tei_date"/>
         <ref name="tei_placeName"/>
         <empty/>
      </element>
   </define>
   <define name="tei_death">
      <element name="death">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(death) Provide the date and place of death in the respective child elements. [15.2.2. The Participant Description]</a:documentation>
         <ref name="tei_date"/>
         <ref name="tei_placeName"/>
         <empty/>
      </element>
   </define>
   <define name="tei_faith">
      <element name="faith">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(faith) Specify the religion of the person. [13.3.2.1. Personal Characteristics]</a:documentation>
         <text/>
         <empty/>
      </element>
   </define>
   <define name="tei_floruit">
      <element name="floruit">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(floruit) Specify the period of intellectual activity. Fill in the date in the agreed-upon calendrical system. Use the "when" attribute for precise values. In case the date can only be approximated, use the "notAfter "and "notBefore" attributes together. [13.3.2.1. Personal Characteristics]</a:documentation>
         <text/>
         <ref name="tei_att.citing.attribute.from"/>
         <ref name="tei_att.citing.attribute.to"/>
         <ref name="tei_att.datable.w3c.attribute.notBefore"/>
         <ref name="tei_att.datable.w3c.attribute.notAfter"/>
         <empty/>
      </element>
   </define>
   <define name="tei_listPerson">
      <element name="listPerson">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(list of persons) contains a list of descriptions, each of which provides information about an identifiable person or a group of people, for example the participants in a language interaction, or the people referred to in a historical source. [13.3.2. The Person Element 15.2. Contextual Information 2.4. The Profile Description 15.3.2. Declarable Elements]</a:documentation>
         <ref name="tei_person"/>
         <ref name="tei_listRelation"/>
         <ref name="tei_att.declarable.attributes"/>
         <ref name="tei_att.sortable.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_listRelation">
      <element name="listRelation">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides information about relationships identified amongst people, places, and organizations, either informally as prose or as formally expressed relation links. [13.3.2.3. Personal Relationships]</a:documentation>
         <ref name="tei_relation"/>
      </element>
   </define>
   <define name="tei_occupation">
      <element name="occupation">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(occupation) Describe the person's profession. This is NOT the role the person played with regard to the manuscripts. [15.2.2. The Participant Description]</a:documentation>
         <text/>
         <optional>
            <attribute name="scheme">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the classification system or taxonomy in use, for example by supplying the identifier of a <code xmlns="http://www.w3.org/1999/xhtml">&lt;taxonomy&gt;</code> element, or pointing to some other resource.</a:documentation>
               <data type="anyURI">
                  <param name="pattern">\S+</param>
               </data>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="tei_person">
      <element name="person">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(person) provides information about an identifiable individual, for example a participant in a language interaction, or a person referred to in a historical source. [13.3.2. The Person Element 15.2.2. The Participant Description]</a:documentation>
         <ref name="tei_persName"/>
         <ref name="tei_birth"/>
         <ref name="tei_death"/>
         <ref name="tei_floruit"/>
         <ref name="tei_sex"/>
         <ref name="tei_faith"/>
         <ref name="tei_occupation"/>
         <ref name="tei_residence"/>
         <ref name="tei_bibl"/>
         <ref name="tei_idno"/>
         <ref name="tei_att.editLike.attributes"/>
         <ref name="tei_att.sortable.attributes"/>
         <optional>
            <attribute name="role">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies a primary role or classification for the person.</a:documentation>
               <list>
                  <oneOrMore>
                     <choice>
                        <value>author</value>
                        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                     </choice>
                  </oneOrMore>
               </list>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="tei_relation">
      <element name="relation">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(relationship) Specify the relationship between the person and another person or object. Choose the kind of relation from the list provided in the "name" attributea and add the URIs of the respective records. [13.3.2.3. Personal Relationships]</a:documentation>
         <optional>
            <ref name="tei_desc"/>
         </optional>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="persons-relation-reforkeyorname-constraint-assert-5">
            <rule context="tei:relation">
               <assert xmlns:xi="http://www.w3.org/2001/XInclude"
                       xmlns:rng="http://relaxng.org/ns/structure/1.0"
                       xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                       test="@ref or @key or @name">One of the attributes  'name', 'ref' or 'key' must be supplied</assert>
            </rule>
         </pattern>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="persons-relation-activemutual-constraint-report-5">
            <rule context="tei:relation">
               <report xmlns:xi="http://www.w3.org/2001/XInclude"
                       xmlns:rng="http://relaxng.org/ns/structure/1.0"
                       xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                       test="@active and @mutual">Only one of the attributes @active and @mutual may be supplied</report>
            </rule>
         </pattern>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="persons-relation-activepassive-constraint-report-6">
            <rule context="tei:relation">
               <report xmlns:xi="http://www.w3.org/2001/XInclude"
                       xmlns:rng="http://relaxng.org/ns/structure/1.0"
                       xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                       test="@passive and not(@active)">the attribute 'passive' may be supplied only if the attribute 'active' is supplied</report>
            </rule>
         </pattern>
         <attribute name="name">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <choice>
               <value>saws:isAttributedToAuthor</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Work, @passive: Person. http://purl.org/saws/ontology#isAttributedToAuthor <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+saws%3AisAttributedToAuthor+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>dcterms:creator</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Work, @passive: Person. http://purl.org/dc/terms/creator <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+dcterms:%3Acreator+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>syriaca:commemorated</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Work, @passive: Person. <a xmlns="http://www.w3.org/1999/xhtml"
                     href="http://syriaca.org/documentation/relations.html#commemorated">definition in syriaca.org</a>
                  <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+syriaca%3Acommemorated+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>betmas:wifeOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. Is the wife of ... <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+bm%3AwifeOf+%3Fy%7D+LIMIT+25">Beta
                                                maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>betmas:husbandOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. Is the husband of.. <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+bm%3AhusbandOf+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>betmas:motherInLawOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. Is the mother of the legally conjugated partner. <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+bm%3AmotherInLawOf+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>betmas:fatherInLawOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. Is the father of the legally conjugated partner. <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+bm%3AfatherInLawOf+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>betmas:sonInLawOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. Is the husband of the daughter. <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+bm%3AsonInLawOf+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>betmas:daugtherInLawOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. Is the wife of the son. <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+bm%3AdaugtherInLawOf+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>betmas:isSuccessorOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. The subject of the relation is the successor of... <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+bm%3AisSuccessorOf+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>betmas:isPredecessorOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. The subject of the relation is the predecessor of... <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+bm%3AisPredecessorOf+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>rel:enemyOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. http://purl.org/vocab/relationship/enemyOf <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+rel%3AenemyOf+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>snap:DaughterOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. http://data.snapdrgn.net/ontology/snap# <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+snap%3ADaughterOf+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>snap:BrotherOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. http://data.snapdrgn.net/ontology/snap#BrotherOf <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+snap%3ABrotherOf+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>snap:AllianceWith</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. http://data.snapdrgn.net/ontology/snap#AllianceWith <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+snap%3AAllianceWith+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>snap:FriendshipFor</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. http://data.snapdrgn.net/ontology/snap#FriendshipFor <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+snap%3AFriendshipFor+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>snap:Group</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. http://data.snapdrgn.net/ontology/snap#Group <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+snap%3AGroup+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>snap:IntimateRelationshipWith</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. http://data.snapdrgn.net/ontology/snap#IntimateRelationshipWith <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+snap%3AIntimateRelationshipWith+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>snap:KinOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. http://data.snapdrgn.net/ontology/snap#KinOf <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+snap%3AKinOf+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>snap:AncestorOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. http://data.snapdrgn.net/ontology/snap#AncestorOf <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+snap%3AAncestorOf+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>snap:CousinOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. http://data.snapdrgn.net/ontology/snap#CousinOf <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+snap%3ACousinOf+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>snap:ClaimedFamilyRelationship</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. http://data.snapdrgn.net/ontology/snap#ClaimedFamilyRelationship <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+snap%3AClaimedFamilyRelationship+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>snap:FamilyOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. http://data.snapdrgn.net/ontology/snap#FamilyOf <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+snap%3AFamilyOf+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>snap:FatherOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. http://data.snapdrgn.net/ontology/snap#FatherOf <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+snap%3AFatherOf+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>snap:GrandchildOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. http://data.snapdrgn.net/ontology/snap#GrandchildOf <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+snap%3AGrandchildOf+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>snap:GranddaughterOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. http://data.snapdrgn.net/ontology/snap#GranddaughterOf <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+snap%3AGranddaughterOf+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>snap:GrandfatherOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. http://data.snapdrgn.net/ontology/snap#GrandfatherOf <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+snap%3AGrandfatherOf+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>snap:GrandmotherOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. http://data.snapdrgn.net/ontology/snap#GrandmotherOf <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+snap%3AGrandmotherOf+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>snap:GrandsonOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. http://data.snapdrgn.net/ontology/snap#GrandsonOf <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+snap%3AGrandsonOf+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>snap:GreatGrandfatherOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. http://data.snapdrgn.net/ontology/snap#GreatGrandfatherOf <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+snap%3AGreatGrandfatherOf+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>snap:HouseholdOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. http://data.snapdrgn.net/ontology/snap#HouseholdOf <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+snap%3AHouseholdOf+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>snap:InLawFamilyRelationship</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. http://data.snapdrgn.net/ontology/snap#InLawFamilyRelationship <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+snap%3AInLawFamilyRelationship+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>snap:MotherOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. http://data.snapdrgn.net/ontology/snap#MotherOf <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+snap%3AMotherOf+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>snap:NephewOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. http://data.snapdrgn.net/ontology/snap#NephewOf <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+snap%3ANephewOf+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>snap:NieceOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. http://data.snapdrgn.net/ontology/snap#NieceOf <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+snap%3ANieceOf+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>snap:ProfessionalRelationship</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. http://data.snapdrgn.net/ontology/snap#ProfessionalRelationship <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+snap%3AProfessionalRelationship+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>snap:SisterOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. http://data.snapdrgn.net/ontology/snap#SisterOf <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+snap%3ASisterOf+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>snap:SonOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. http://data.snapdrgn.net/ontology/snap#SonOf <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+snap%3ASonOf+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>snap:StepFamilyRelationship</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. http://data.snapdrgn.net/ontology/snap#StepFamilyRelationship <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+snap%3AStepFamilyRelationship+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>snap:SiblingOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. http://data.snapdrgn.net/ontology/snap#SiblingOf <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+snap%3ASiblingOf+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>snap:StepFamilyRelationship</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. http://data.snapdrgn.net/ontology/snap#StepFamilyRelationship <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+snap%3AStepFamilyRelationship+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>snap:UncleOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Person. http://data.snapdrgn.net/ontology/snap#UncleOf <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+snap%3AUncleOf+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>saws:hasOwned</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Manuscript. If you can, edit the manuscript record with persName[@role='owner'] instead. http://purl.org/saws/ontology#hasOwned <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+saws%3AhasOwned+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>saws:isCopierOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Manuscript. If you can, edit the manuscript record with persName[@role='scribe'] instead. http://purl.org/saws/ontology#isCopierOf <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+saws%3AisCopierOf+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>saws:hasWritten</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Manuscript Part. This is used to state the authorship of a marginal note for example. http://purl.org/saws/ontology#hasWritten <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+saws%3AhasWritten+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>ecrm:P129i_is_subject_of</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Work. http://erlangen-crm.org/current/P129i_is_subject_of <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+ecrm%3AP129i_is_subject_of+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>saws:isAttributedAuthorOf</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Work. http://purl.org/saws/ontology#isAttributedAuthorOf <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+saws%3AisAttributedAuthorOf+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>syriaca:share-a-name</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Place, @passive: Place. <a xmlns="http://www.w3.org/1999/xhtml"
                     href="http://syriaca.org/documentation/relations.html#share-a-name">definition in syriaca.org</a>
                  <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+syriaca%3Ashare-a-name+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>syriaca:has-relation-to-place</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Place. <a xmlns="http://www.w3.org/1999/xhtml"
                     href="http://syriaca.org/documentation/relations.html#has-relation-to-place">definition in
                                                syriaca.org</a>
                  <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+syriaca%3Ahas-relation-to-place+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>syriaca:has-literary-connection-to-place</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Place. But note the literary specification. <a xmlns="http://www.w3.org/1999/xhtml"
                     href="http://syriaca.org/documentation/relations.html#has-literary-connection-to-place">definition
                                                in syriaca.org</a>
                  <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+syriaca%3Ahas-literary-connection-to-place+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>syriaca:born-at</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Place. <a xmlns="http://www.w3.org/1999/xhtml"
                     href="http://syriaca.org/documentation/relations.html#born-at">definition in syriaca.org</a>
                  <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+syriaca%3Aborn-at+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
               <value>syriaca:died-at</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">@active: Person, @passive: Place. <a xmlns="http://www.w3.org/1999/xhtml"
                     href="http://syriaca.org/documentation/relations.html#died-at">definition in syriaca.org</a>
                  <a xmlns="http://www.w3.org/1999/xhtml"
                     href="https://betamasaheft.eu/sparql?query=SELECT+*+WHERE+%7B%3Fx+syriaca%3Adied-at+%3Fy%7D+LIMIT+25">Beta maṣāḥǝft SPARQL query for examples.</a>
               </a:documentation>
            </choice>
         </attribute>
         <choice>
            <optional>
               <attribute name="active">
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the active participants in a non-mutual relationship, or all the participants in a mutual one.</a:documentation>
                  <list>
                     <oneOrMore>
                        <data type="anyURI">
                           <param name="pattern">\S+</param>
                        </data>
                     </oneOrMore>
                  </list>
               </attribute>
            </optional>
            <optional>
               <attribute name="mutual">
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <text/>
               </attribute>
            </optional>
         </choice>
         <optional>
            <attribute name="passive">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the passive participants in a non-mutual relationship.</a:documentation>
               <list>
                  <oneOrMore>
                     <data type="anyURI">
                        <param name="pattern">\S+</param>
                     </data>
                  </oneOrMore>
               </list>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="tei_residence">
      <element name="residence">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(residence) Where did the person live? [15.2.2. The Participant Description]</a:documentation>
         <ref name="tei_placeName"/>
         <empty/>
      </element>
   </define>
   <define name="tei_sex">
      <element name="sex">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(sex) specifies the sex of a person. [13.3.2.1. Personal Characteristics]</a:documentation>
         <text/>
         <optional>
            <attribute name="value">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a coded value for sex</a:documentation>
               <list>
                  <oneOrMore>
                     <data type="token">
                        <param name="pattern">[^\p{C}\p{Z}]+</param>
                     </data>
                  </oneOrMore>
               </list>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="tei_idno">
      <element name="idno">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(identifier) supplies any form of identifier used to identify some object, such as a bibliographic item, a person, a title, an organization, etc. in a standardized way. [13.3.1. Basic Principles 2.2.4. Publication, Distribution, Licensing, etc. 2.2.5. The Series Statement 3.12.2.4. Imprint, Size of a Document, and Reprint Information]</a:documentation>
         <text/>
         <optional>
            <attribute name="type">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">categorizes the identifier, for example as an ISBN, Social Security number, etc.
Suggested values include: 1] ISBN; 2] ISSN; 3] DOI; 4] URI; 5] VIAF; 6] ESTC; 7] OCLC</a:documentation>
               <choice>
                  <value>ISBN</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">International Standard Book Number: a 13- or (if assigned prior to 2007) 10-digit identifying number assigned by the publishing industry to a published book or similar item, registered with the <a xmlns="http://www.w3.org/1999/xhtml"
                        href="https://www.isbn-international.org"> International ISBN Agency.</a>
                  </a:documentation>
                  <value>ISSN</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">International Standard Serial Number: an eight-digit number to uniquely identify a serial publication.</a:documentation>
                  <value>DOI</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Digital Object Identifier: a unique string of letters and numbers assigned to an electronic document.</a:documentation>
                  <value>URI</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Uniform Resource Identifier: a string of characters to uniquely identify a resource, following the syntax of <a xmlns="http://www.w3.org/1999/xhtml"
                        href="https://datatracker.ietf.org/doc/html/rfc3986">RFC 3986</a>.</a:documentation>
                  <value>VIAF</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A data number in the Virtual Internet Authority File assigned to link different names in catalogs around the world for the same entity.</a:documentation>
                  <value>ESTC</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">English Short-Title Catalogue number: an identifying number assigned to a document in English printed in the British Isles or North America before 1801.</a:documentation>
                  <value>OCLC</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">OCLC control number (record number) for the union catalog record in WorldCat, a union catalog for member libraries in the Online Computer Library Center global cooperative.</a:documentation>
                  <data type="token">
                     <param name="pattern">[^\p{C}\p{Z}]+</param>
                  </data>
               </choice>
            </attribute>
         </optional>
         <optional>
            <attribute name="subtype">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(subtype) provides a sub-categorization of the element, if needed</a:documentation>
               <choice>
                  <value>isni</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>viaf</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>wiki</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>gnd</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>merhav</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>rambi</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>imhm</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>ktiv</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               </choice>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <start>
      <choice/>
   </start>
</grammar>
