schemas/titleStmt.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:tei="http://www.tei-c.org/ns/1.0"
         xmlns:teix="http://www.tei-c.org/ns/Examples"
         xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://www.tei-c.org/ns/1.0"><!--
Schema generated from ODD source 2022-01-12T15:37:19Z. .
TEI Edition: Version 4.3.0. Last updated on
        31st August 2021, revision b4f72b1ff
TEI Edition Location: https://www.tei-c.org/Vault/P5/Version 4.3.0/
  
--><!--[http://creativecommons.org/licenses/by-sa/4.0/] This file is licensed under the Creative Commons Attribution-ShareAlike 4.0. -->
   <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron"
           prefix="tei"
           uri="http://www.tei-c.org/ns/1.0"/>
   <define name="tei_att.canonical.attribute.key">
      <optional>
         <attribute name="key">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides an externally-defined means of identifying the entity (or entities) being named, using a coded value of some kind.</a:documentation>
            <data type="string"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.canonical.attribute.ref">
      <optional>
         <attribute name="ref">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(reference) provides an explicit means of locating a full definition or identity for the entity being named by means of one or more URIs.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.responsibility.attribute.cert">
      <optional>
         <attribute name="cert">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(certainty) signifies the degree of certainty associated with the intervention or interpretation.</a:documentation>
            <choice>
               <data type="double"/>
               <choice>
                  <value>high</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>medium</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>low</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>unknown</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               </choice>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.responsibility.attribute.resp">
      <optional>
         <attribute name="resp">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(responsible party) indicates the agency responsible for the intervention or interpretation, for example an editor or transcriber.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.rendition.attribute.rend">
      <optional>
         <attribute name="rend">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(rendition) indicates how the element in question was rendered or presented in the source text.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="token">
                     <param name="pattern">[^\p{C}\p{Z}]+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.rendition.attribute.style">
      <optional>
         <attribute name="style">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains an expression in some formal style definition language which defines the rendering or presentation used for this element in the source text</a:documentation>
            <data type="string"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.rendition.attribute.rendition">
      <optional>
         <attribute name="rendition">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points to a description of the rendering or presentation used for this element in the source text.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.source.attribute.source">
      <optional>
         <attribute name="source">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the source from which some aspect of this element is drawn.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.attribute.xmlid">
      <optional>
         <attribute name="xml:id">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(identifier) provides a unique identifier for the element bearing the attribute.</a:documentation>
            <data type="ID"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.attribute.xmllang">
      <optional>
         <attribute name="xml:lang">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(language) indicates the language of the element content using a tag generated according to <a xmlns="http://www.w3.org/1999/xhtml"
                  href="http://www.rfc-editor.org/rfc/bcp/bcp47.txt">BCP 47</a>.</a:documentation>
            <choice>
               <data type="language"/>
               <choice>
                  <value/>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               </choice>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.naming.attribute.role">
      <optional>
         <attribute name="role">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">may be used to specify further information about the entity referenced by this name in the form of a set of whitespace-separated values, for example the occupation of a person, or the status of a place.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="token">
                     <param name="pattern">[^\p{C}\p{Z}]+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.typed.attribute.type">
      <optional>
         <attribute name="type">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">characterizes the element in some sense, using any convenient classification scheme or typology.</a:documentation>
            <data type="token">
               <param name="pattern">[^\p{C}\p{Z}]+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="titleStmt-att.typed-subtypeTyped-constraint-rule-1">
      <sch:rule xmlns:xi="http://www.w3.org/2001/XInclude"
                xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                context="tei:*[@subtype]">
        <sch:assert test="@type">The <sch:name/> element should not be categorized in detail with @subtype unless also categorized in general with @type</sch:assert>
      </sch:rule>
   </pattern>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="titleStmt-att.pointing-targetLang-targetLang-constraint-rule-2">
      <sch:rule xmlns:xi="http://www.w3.org/2001/XInclude"
                xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                context="tei:*[not(self::tei:schemaSpec)][@targetLang]">
            <sch:assert test="@target">@targetLang should only be used on <sch:name/> if @target is specified.</sch:assert>
          </sch:rule>
   </pattern>
   <define name="tei_model.nameLike.agent">
      <choice>
         <ref name="tei_name"/>
         <ref name="tei_orgName"/>
      </choice>
   </define>
   <define name="tei_model.nameLike.agent_alternation">
      <choice>
         <ref name="tei_name"/>
         <ref name="tei_orgName"/>
      </choice>
   </define>
   <define name="tei_model.nameLike.agent_sequence">
      <ref name="tei_name"/>
      <ref name="tei_orgName"/>
   </define>
   <define name="tei_model.nameLike.agent_sequenceOptional">
      <optional>
         <ref name="tei_name"/>
      </optional>
      <optional>
         <ref name="tei_orgName"/>
      </optional>
   </define>
   <define name="tei_model.nameLike.agent_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_name"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_orgName"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.nameLike.agent_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_name"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_orgName"/>
      </oneOrMore>
   </define>
   <define name="tei_model.hiLike">
      <notAllowed/>
   </define>
   <define name="tei_model.hiLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.hiLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.hiLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.hiLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.hiLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.emphLike">
      <choice>
         <ref name="tei_title"/>
      </choice>
   </define>
   <define name="tei_model.emphLike_alternation">
      <choice>
         <ref name="tei_title"/>
      </choice>
   </define>
   <define name="tei_model.emphLike_sequence">
      <ref name="tei_title"/>
   </define>
   <define name="tei_model.emphLike_sequenceOptional">
      <optional>
         <ref name="tei_title"/>
      </optional>
   </define>
   <define name="tei_model.emphLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_title"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.emphLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_title"/>
      </oneOrMore>
   </define>
   <define name="tei_model.dateLike">
      <notAllowed/>
   </define>
   <define name="tei_model.dateLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.dateLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.dateLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.dateLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.dateLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.measureLike">
      <notAllowed/>
   </define>
   <define name="tei_model.measureLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.measureLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.measureLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.measureLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.measureLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.offsetLike">
      <notAllowed/>
   </define>
   <define name="tei_model.offsetLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.offsetLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.offsetLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.offsetLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.offsetLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.editorial">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.editorial_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.editorial_sequence">
      <empty/>
   </define>
   <define name="tei_model.pPart.editorial_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.pPart.editorial_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.pPart.editorial_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.transcriptional">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.transcriptional_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequence">
      <empty/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.placeNamePart">
      <notAllowed/>
   </define>
   <define name="tei_model.placeNamePart_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.placeNamePart_sequence">
      <empty/>
   </define>
   <define name="tei_model.placeNamePart_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.placeNamePart_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.placeNamePart_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.placeStateLike">
      <choice>
         <ref name="tei_model.placeNamePart"/>
      </choice>
   </define>
   <define name="tei_model.placeStateLike_alternation">
      <choice>
         <ref name="tei_model.placeNamePart_alternation"/>
      </choice>
   </define>
   <define name="tei_model.placeStateLike_sequence">
      <ref name="tei_model.placeNamePart_sequence"/>
   </define>
   <define name="tei_model.placeStateLike_sequenceOptional">
      <optional>
         <ref name="tei_model.placeNamePart_sequenceOptional"/>
      </optional>
   </define>
   <define name="tei_model.placeStateLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_model.placeNamePart_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.placeStateLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_model.placeNamePart_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="tei_model.quoteLike">
      <notAllowed/>
   </define>
   <define name="tei_model.quoteLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.quoteLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.quoteLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.quoteLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.quoteLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.addressLike">
      <notAllowed/>
   </define>
   <define name="tei_model.addressLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.addressLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.addressLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.addressLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.addressLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.nameLike">
      <choice>
         <ref name="tei_model.nameLike.agent"/>
         <ref name="tei_model.offsetLike"/>
         <ref name="tei_model.placeStateLike"/>
         <ref name="tei_model.persNamePart"/>
      </choice>
   </define>
   <define name="tei_model.nameLike_alternation">
      <choice>
         <ref name="tei_model.nameLike.agent_alternation"/>
         <ref name="tei_model.offsetLike_alternation"/>
         <ref name="tei_model.placeStateLike_alternation"/>
         <ref name="tei_model.persNamePart_alternation"/>
      </choice>
   </define>
   <define name="tei_model.nameLike_sequence">
      <ref name="tei_model.nameLike.agent_sequence"/>
      <ref name="tei_model.offsetLike_sequence"/>
      <ref name="tei_model.placeStateLike_sequence"/>
      <ref name="tei_model.persNamePart_sequence"/>
   </define>
   <define name="tei_model.nameLike_sequenceOptional">
      <optional>
         <ref name="tei_model.nameLike.agent_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_model.offsetLike_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_model.placeStateLike_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_model.persNamePart_sequenceOptional"/>
      </optional>
   </define>
   <define name="tei_model.nameLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_model.nameLike.agent_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_model.offsetLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_model.placeStateLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_model.persNamePart_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.nameLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_model.nameLike.agent_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_model.offsetLike_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_model.placeStateLike_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_model.persNamePart_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="tei_name">
      <element name="name">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(name, proper noun) contains a proper noun or noun phrase. [3.6.1. Referring Strings]</a:documentation>
         <text/>
         <ref name="tei_att.typed.attribute.type"/>
         <ref name="tei_att.canonical.attribute.ref"/>
         <empty/>
      </element>
   </define>
   <define name="tei_editor">
      <element name="editor">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a secondary statement of responsibility for a bibliographic item, for example the name of an individual, institution or organization, (or of several such) acting as editor, compiler, translator, etc. [3.12.2.2. Titles, Authors, and Editors]</a:documentation>
         <text/>
         <ref name="tei_att.global.attribute.xmlid"/>
         <ref name="tei_att.naming.attribute.role"/>
         <ref name="tei_att.canonical.attribute.ref"/>
         <empty/>
      </element>
   </define>
   <define name="tei_respStmt">
      <element name="respStmt">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(statement of responsibility) supplies a statement of responsibility for the intellectual content of a text, edition, recording, or series, where the specialized elements for authors, editors, etc. do not suffice or do not apply. May also be used to encode information about individuals or organizations which have played a role in the production or distribution of a bibliographic work. [3.12.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.2. The Edition Statement 2.2.5. The Series Statement]</a:documentation>
         <ref name="tei_resp"/>
         <ref name="tei_name"/>
      </element>
   </define>
   <define name="tei_resp">
      <element name="resp">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(responsibility) contains a phrase describing the nature of a person's intellectual responsibility, or an organization's role in the production or distribution of a work. [3.12.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.2. The Edition Statement 2.2.5. The Series Statement]</a:documentation>
         <text/>
      </element>
   </define>
   <define name="tei_title">
      <element name="title">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(title) contains a title for any kind of work. [3.12.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.5. The Series Statement]</a:documentation>
         <text/>
         <ref name="tei_att.global.attribute.xmllang"/>
         <optional>
            <attribute name="level">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the bibliographic level for a title, that is, whether it identifies an article, book, journal, series, or unpublished material.</a:documentation>
               <choice>
                  <value>a</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(analytic) the title applies to an analytic item, such as an article, poem, or other work published as part of a larger item.</a:documentation>
                  <value>m</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(monographic) the title applies to a monograph such as a book or other item considered to be a distinct publication, including single volumes of multi-volume works</a:documentation>
                  <value>j</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(journal) the title applies to any serial or periodical publication such as a journal, magazine, or newspaper</a:documentation>
                  <value>s</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(series) the title applies to a series of otherwise distinct publications such as a collection</a:documentation>
                  <value>u</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(unpublished) the title applies to any unpublished material (including theses and dissertations unless published by a commercial press)</a:documentation>
               </choice>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="tei_model.persNamePart">
      <notAllowed/>
   </define>
   <define name="tei_model.persNamePart_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.persNamePart_sequence">
      <empty/>
   </define>
   <define name="tei_model.persNamePart_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.persNamePart_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.persNamePart_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_orgName">
      <element name="orgName">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(organization name) contains an organizational name. [13.2.2. Organizational Names]</a:documentation>
         <text/>
         <ref name="tei_att.global.attribute.xmllang"/>
         <empty/>
      </element>
   </define>
   <define name="tei_sponsor">
      <element name="sponsor">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(sponsor) specifies the name of a sponsoring organization or institution. [2.2.1. The Title Statement]</a:documentation>
         <ref name="tei_orgName"/>
         <ref name="tei_att.canonical.attribute.ref"/>
         <empty/>
      </element>
   </define>
   <define name="tei_funder">
      <element name="funder">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(funding body) specifies the name of an individual, institution, or organization responsible for the funding of a project or text. [2.2.1. The Title Statement]</a:documentation>
         <ref name="tei_orgName"/>
         <ref name="tei_att.canonical.attribute.ref"/>
         <empty/>
      </element>
   </define>
   <define name="tei_principal">
      <element name="principal">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(principal researcher) supplies the name of the principal researcher responsible for the creation of an electronic text. [2.2.1. The Title Statement]</a:documentation>
         <text/>
         <ref name="tei_att.canonical.attribute.ref"/>
         <empty/>
      </element>
   </define>
   <define name="tei_note">
      <element name="note">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <ref name="tei_att.global.attribute.xmlid"/>
         <empty/>
      </element>
   </define>
   <start>
      <choice/>
   </start>
</grammar>
